.mainimgpost {
  width: 100%;
  border-radius: 5px 50px 5px 50px;
  border: 2px solid var(--red);
  margin-bottom: 10px;
}
.blog-post-meta span {
  margin-left: 10px;
}

.asidecat li {
  margin-bottom: 10px;
  position: relative;
}
.asidecat span {
  width: 25px;
  height: 21px;
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background-color: #9e19ec;
  text-align: center;
  position: absolute;
  right: 95%;
}
.proasidecatrec {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 10px;
}
.divshare-buttons {
  border: 1px solid rgb(212, 212, 212);
  margin-bottom: 10px;
}
.share-buttons {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.share-buttons a {
  width: 100%;
  font-size: 25px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.share-buttons a.telegram {
  color: #0088cc;
  margin-bottom: 20px;
}

.share-buttons a.instagram {
  color: #e4405f;
}

.share-buttons a.whatsapp {
  color: #25d366;
}

.share-buttons a.email {
  color: #ff5722;
}

.share-buttons a.linkedin {
  color: #0077b5;
}

.share-buttons a.facebook {
  color: #3b5998;
}

.counter {
  text-align: center;
}
.count {
  margin: 0 10px;
  font-size: 25px;
}
.magic-tabs-tabs {
  overflow: hidden;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

.magic-tabs-tabs li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  /* background: #ececec; */
  color: var(--textBold);
}
.magic-tabs-tabs li.active {
  background: var(--grayc);
  color: var(--textBold);
  border-radius: 10px 10px 0px 0px;
}
.magic-tabs-contents li {
  list-style: none;
}
.magic-tabs-contents {
  background: var(--grayc);
  color: var(--textBold);
  padding: 20px;
  margin-top: 0;
}
.color-picker {
  text-align: center;
  margin-bottom: 10px;
}
#color-select {
  width: 80%;
  height: 30px;
  margin-bottom: 5px;
  float: right;
  border: 1px solid #dc3545;
  border-radius: 5px;
}
.selected-color {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  float: left;
  border-radius: 100%;
}
.Specificationslist {
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100%;
}
.trtd-a {
  background-color: var(--white);
}
.Specificationslist tr {
  border-bottom: 1px solid rgb(212, 212, 212);
}
.Specificationslist td {
  padding: 10px;
}
