{% extends 'layout/base.html' %}
{% load static %}
{% block HEAD %}
<meta charset="utf-8">
<title>کیک پیک | پنل کاربری</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">

<link rel="apple-touch-icon" sizes="180x180" href="{% static '' %}assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '' %}assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{% static '' %}assets/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="{% static '' %}assets/css/normalize.css">
<link rel="stylesheet" href="{% static '' %}assets/font/bootstrap-icon/bootstrap-icons.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/countdown/countdown.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/rasta-contact/style.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/main.css">
<link rel="stylesheet" href="{% static '' %}assets/css/responsive.css">

<meta name="theme-color" content="#f4f5f9">
{% endblock %}
    
{% block BODY %}
{% csrf_token %}

<div class="content">
  <div class="container-fluid">

      <div class="custom-filter d-lg-none d-block">
          <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-4 rounded-3 position-fixed" style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
              <i class="bi bi-list font-20 fw-bold text-white"></i>
              <span class="d-block font-14 text-white">منو</span>
          </button>

          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                  <h5 class="offcanvas-title">منو</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="auth-logo text-center">
                  <a href="/">
                    <h6 class="font-20 title-font">فروشگاه کیک پیک</h6>
                    <p class="mb-0 mt-1 text-muted">فروشگاهی برای همه سلیقه ها</p>
                  </a>
              </div>
                  <div class="penel-nav penel-nav-mobile">
                      <div class="panel-nav-nav">
                          <nav class="navbar profile-box-nav">
                              <ul class="navbar-nav flex-column">
                                  <li class="nav-item active"><a href="" class="nav-link">
                                      <i class="bi bi-house-door"></i>پروفایل</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-cart-check"></i>سفارش های من <span class="badge rounded-pill badge-spn">{{ order_items.count }}</span></a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-pin-map"></i>آدرس های من</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-bell"></i>پیام ها و اطلاعیه ها</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-chat-dots"></i>نظرات من</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-question-circle"></i>درخواست پشتیبانی</a>
                                  </li>
                                  <li class="nav-item"><a onclick="favourite_items();"class="nav-link">
                                    <i class="bi bi-question-circle"></i>علاقه مندی ها</a>
                                </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-gift"></i>کد های تخفیف من</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-arrow-right-square"></i>خروج از حساب کاربری</a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="panel position-relative">
          <div class="row gy-4">
              <div class="col-lg-3 d-lg-block d-none">
                <div class="auth-logo text-center">
                  <a href="/">
                    <h6 class="font-20 title-font">فروشگاه کیک پیک</h6>
                    <p class="mb-0 mt-1 text-muted">فروشگاهی برای همه سلیقه ها</p>
                  </a>
              </div>
                  <div class="penel-nav penel-nav-desktop">
                      <div class="panel-nav-nav">
                          <nav class="navbar profile-box-nav">
                              <ul class="navbar-nav flex-column">
                                  <li class="nav-item active"><a href="" class="nav-link">
                                      <i class="bi bi-house-door"></i>پروفایل</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-cart-check"></i>سفارش های من <span class="badge rounded-pill badge-spn">{{ order_items.count }}</span></a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-pin-map"></i>آدرس های من</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-bell"></i>پیام ها و اطلاعیه ها</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-chat-dots"></i>نظرات من</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-question-circle"></i>درخواست پشتیبانی</a>
                                  </li>
                                  <li class="nav-item"><a onclick="favourite_items();" class="nav-link">
                                      <i class="bi bi-heart"></i>محصولات مورد علاقه</a>
                                  </li>
                                  <li class="nav-item"><a href="" class="nav-link">
                                      <i class="bi bi-gift"></i>کد های تخفیف من</a>
                                  </li>
                                  <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">
                                      <i class="bi bi-arrow-right-square"></i>خروج از حساب کاربری</a>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="position-sticky top-0">
                      <div class="panel-header">
                          <div class="content-box">
                              <div class="container-fluid">
                                  {% if request.user.first_name %}
                                  <div class="row gy-5 align-items-center">
                                      <div class="col-md-6 col-8">
                                          <div class="d-flex align-items-center">
                                              <h6> {{request.user.first_name}} عزیز به پنل کاربری خوش آمدید</h6>
                                          </div>
                                      </div>
                                      <!--div class="col-md-3 col-4">
                                          <div class="panel-alert d-flex justify-content-end">
                                              <i class="bi bi-bell pointer"></i>
                                              <span class="count-item rounded-circle">0</span>
                                          </div>
                                      </div-->
                                      <div class="col-md-3">
                                          <div class="d-flex align-items-center panel-profile">
                                              <img src="{% static '' %}assets/img/user.png" class="img-fluid img-profile-panel rounded-circle me-3 shadow-md" alt="">
                                              <div class="d-grid gap-2">
                                                  <h6 class="font-14 main-color-one-color">حساب کاربری من</h6>
                                                  <div class="d-flex align-items-center">
                                                      <h6 class="font-14">
                                                          {% if request.user.first_name %}{{request.user.first_name}}{% endif %} {% if request.user.last_name %}{{request.user.last_name}}{% endif %}</h6>
                                                      <a href="" class="ms-2"><i class="bi bi-pencil-square"></i></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  {% else %}
                                  <div class="row gy-5 align-items-center">
                                      <div class="col-md-6 col-8">
                                          <div class="d-flex align-items-center">
                                              <h6>با تکمیل حساب کاربری کد تخفیف دریافت کنید !</h6>
                                          </div>
                                      </div>
                                      <div class="col-md-3 col-4">
                                          <div class="panel-alert d-flex justify-content-end">
                                              <i class="bi bi-bell pointer"></i>
                                              <span class="count-item rounded-circle">0</span>
                                          </div>
                                      </div>
                                      <div class="col-md-3">
                                          <div class="d-flex align-items-center panel-profile">
                                              <img src="{% static '' %}assets/img/user.png" class="img-fluid img-profile-panel rounded-circle me-3 shadow-md" alt="">
                                              <div class="d-grid gap-2">
                                                  <h6 class="font-14 main-color-one-color">حساب کاربری من</h6>
                                                  <div class="d-flex align-items-center">
                                                      <h6 class="font-14">
                                                          {{request.user.phoneNumber}}</h6>
                                                      <a href="" class="ms-2"><i class="bi bi-pencil-square"></i></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                      <div class="panel-meta my-5">
                          <div class="row g-3">
                              <div class="col-md-3 col-sm-6">
                                  <a href="">
                                      <div class="panel-meta-item d-flex align-items-center">
                                          <div class="panel-meta-item-icon">
                                              <i class="bi bi bi-bag-check"></i>
                                          </div>
                                          <div class="panel-meta-title d-flex flex-column">
                                              <h6 class="h6">سفارشات تکمیل شده</h6>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <a href="">
                                      <div class="panel-meta-item d-flex align-items-center">
                                          <div class="panel-meta-item-icon bg-danger">
                                              <i class="bi bi bi-heart-fill"></i>
                                          </div>
                                          <div class="panel-meta-title d-flex flex-column">
                                              <h6 class="h6">محصولات مورد علاقه</h6>
                                              <h5 class="title-font h3">{{favourite_items.count}}</h5>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <a href="">
                                      <div class="panel-meta-item d-flex align-items-center">
                                          <div class="panel-meta-item-icon bg-primary">
                                              <i class="bi bi bi-send"></i>
                                          </div>
                                          <div class="panel-meta-title d-flex flex-column">
                                              <h6 class="h6">نظرات</h6>
                                              <!--h5 class="title-font h3">13</h5-->
                                          </div>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <a href="">
                                      <div class="panel-meta-item d-flex align-items-center">
                                          <div class="panel-meta-item-icon bg-secondary">
                                              <i class="bi bi-repeat"></i>
                                          </div>
                                          <div class="panel-meta-title d-flex flex-column">
                                              <h6 class="h6">سفارشات مرجوعی</h6>

                                          </div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="panel-latest-order zone">
                          <div class="table-responsive shadow-box roundedTable p-0">
                              {% if order_items %}
                              <table class="table  main-table rounded-0">
                                  <thead class="text-center">
                                  <tr>
                                      <th class="title-font">ردیف</th>
                                      <th class="title-font">شماره سفارش</th>
                                      <th class="title-font">تاریخ ثبت سفارش</th>
                                      <th class="title-font">مبلغ پرداختی</th>
                                      <th class="title-font">وضعیت سفارش</th>
                                      <th class="title-font">فاکتور</th>
                                  </tr>
                                  </thead>
                                  <tbody class="text-center">
                                      {% for item in order_items %}
                                  <tr>
                                      <td class="font-14">{{forloop.counter}}</td>
                                      <td class="font-14">{{ item.shenase }}</td>
                                      <td class="font-14">{{ item.jpub }}</td>
                                      <td class="font-14">{{item.price}} تومان</td>
                                      <td class="font-14"><a href="" class="title-font">{% if item.status == 0 %}در حال پردازش{% elif item.status == 1 %}تکمیل شده{% elif item.status == 2 %}استرداد{% elif item.status == 3 %}لغو شده{% elif item.status == 4 %}در انتظار پرداخت{% endif %}</a></td>
                                      <td class="font-14">
                                          <a href="" class="btn border-0 main-color-one-bg waves-effect waves-light"><i class="bi bi-chevron-left"></i></a>
                                      </td>
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                              {% else %}
                              <div class="cart-empty-title">
                                  <h2 class="text-center title-font">
                                      تخفیف ویژه برای خرید اول !
                                  </h2>
                                  <div class="text-center mt-3">
                                      <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">هرگز برای شروع دیر نیست !</a>
                                  </div>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

</div>

{% include 'layout/footer.html' %}

{% include 'layout/mobile-menu.html' %}

{% include 'layout/cart-convas.html' %}

{% block JS %}

<script src="{% static '' %}assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="{% static '' %}assets/js/vendor/jquery-3.7.1.min.js"></script>
<script src="{% static '' %}assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
<script src="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="{% static '' %}assets/js/plugin/countdown/countdown.js"></script>
<script src="{% static '' %}assets/js/plugin/vanilla-tilt/vanilla-tilt.min.js"></script>
<script src="{% static '' %}assets/js/plugin/rasta-contact/script.js"></script>
<script src="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="{% static '' %}assets/js/plugins.js"></script>
<script src="{% static '' %}assets/js/main.js"></script>

<script>
        function separateDigitsWithComma(number) {
    // Convert the number to a string
    var numberString = String(number);
  
    // Split the string into an array of characters
    var digitsArray = numberString.split('');
  
    // Reverse the array to process digits from right to left
    digitsArray.reverse();
  
    // Iterate over the array and insert commas after every third digit
    for (var i = 3; i < digitsArray.length; i += 4) {
      digitsArray.splice(i, 0, ',');
    }
  
    // Reverse the array again to get the original order
    digitsArray.reverse();
  
    // Join the array into a string
    var result = digitsArray.join('');
  
    return result;
  }


  function load_cart_data(){
    $.ajax({
        url:'/cart/load_cart_data',
        type: 'POST',
        data: {'Hello':'world!'},
        success: function(response){
            if(response.success === false){
                console.log(response.status);
            }else{
                if(response.status.length > 0){
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">${response.status.length} مورد</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">${separateDigitsWithComma(response.status[0].total_price)} تومان</h5>
                    `);
                    $('.checkout_button').html(`
                    <a href="/cart" class="btn border-0 main-color-green text-white"><i
                                class="bi bi-arrow-left me-1"></i>تکمیل خرید</a>
                    `);
                    for(let i = 0; i <= response.status.length; i++){
                        $('.cart_body').append(`
                        <li class="nav-item">
                <div class="cart-canvas">
                    <div class="row align-items-center">
                        <div class="col-4 ps-0">
                            <img src="https://kikpick.com/${response.status[i].image}" alt="${response.status[i].title}">
                        </div>
                        <div class="col-8">
                            <a href="https://kikpick.com/shop/${response.status[i].slug}">
                                <h3 class="text-overflow-1 title-font font-14">
                                    ${response.status[i].title}
                                </h3>
                                <div class="cart-canvas-price my-3 d-flex align-items-center">
                                    <h6 class="title-font main-color-one-color">${separateDigitsWithComma(response.status[i].price)} تومان</h6>
                                </div>
                            </a>
                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                <div class="cart-canvas-count">
                                    <span>تعداد:</span>
                                    <span class="fw-bold main-color-one-color">${response.status[i].number}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>`);
                    }//endfor
                }else{
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">خالی است</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.checkout_button').html('')
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">0 تومان</h5>
                    `);
                    $('.cart_body').html(`
                    <div class="cart-empty-title">
          <h2 class="text-center title-font">
              سبد خرید شما خالی میباشد
          </h2>
          <div class="text-center mt-3">
              <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">برای شروع فرصت زیادی نیست</a>
          </div>
      </div>`);
                }//endif
            }//endif
        },//end suncces
    })//endajax
  }//end function
  load_cart_data();
</script>

{% endblock %}
{% endblock %}
