{% extends 'base.html' %}
{% load static %}
{%block TITLE%}ورود به حساب کاربری{% endblock %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block CONTENT %}
{% if user.is_authenticated %}
<h3 style="color: red;"> Error : you are now Login ! </h3>
<button onclick="window.history.back();">Go Back</button>
<a href="{% url 'logout' %}"><button>logout</button></a>
{% else %}
    <div class="container-fluid">
      <div class="row">
        <div class="col asidelogform">
          <div class="container">
            <section class="main">
              <form class="form-3" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="checkbox" name="remember" id="remember" />
                <label for="remember">مرا به خاطر بسپار</label>
                <input
                  type="submit"
                  name="submit"
                  value="ورود به حساب کاربری"
                />
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

