{% extends 'layout/base.html' %}
{% load static %}
{% block HEAD %}
    <meta charset="utf-8">
    <title>کیک پیک</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font/bootstrap-icon/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugin/swiper/swiper-bundle.min.cs' %}s">
    <link rel="stylesheet" href="{% static 'assets/js/plugin/countdown/countdown.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugin/rasta-contact/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.cs' %}s">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <meta name="theme-color" content="#f4f5f9">

{% endblock %}
<!-- start header code -->

{% block BODY %}

{% include 'layout/header.html' %}

{% include 'layout/menu.html' %}

{% include 'layout/slider.html' %}

{% include 'layout/slider-brand.html' %}

{% include 'layout/feature.html' %}

{% include 'layout/offers.html' %}

{% include 'layout/category.html' %}

{% include 'layout/advert-banner.html' %}

{% include 'layout/partners.html' %}

{% include 'layout/product-boxs-special.html' %}

{% include 'layout/advert-banner-big.html' %}

{% include 'layout/product-boxs.html' %}

{% include 'layout/product-boxs-newst.html' %}

{% include 'layout/about-us.html' %}

{% include 'layout/blog.html' %}

{% include 'layout/footer.html' %}

{% include 'layout/mobile-menu.html' %}

{% block JS %}
<script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle-5.3.2.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/countdown/countdown.js' %}"></script>
<script src="{% static 'assets/js/plugin/vanilla-tilt/vanilla-tilt.min.j' %}s"></script>
<script src="{% static 'assets/js/plugin/rasta-contact/script.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/main.j' %}s"></script>
{% endblock %}
{% endblock %}