{% load static %}
<footer class="mt-3">
  <section class="container-fluid  border-top mb-3 text-center footer0">
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-2">
        <span onclick="support('{{request.user.phoneNumber}}');" class="bi bi-headset iconfooter"></span><br>
        <span onclick="support('{{request.user.phoneNumber}}');">پشتیبانی آنلاین</span>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <span class="bi bi-cash-coin iconfooter"></span><br>
        <span>پرداخت آنلاین</span>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <span class="bi bi-truck iconfooter"></span><br>
        <span>تحویل اکسپرس</span>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <span class="bi bi-cash iconfooter"></span><br>
        <span>7 روز ضمانت بازگشت</span>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <span class="bi bi-award iconfooter"></span><br>
        <span>ضمانت اصالت کالا</span>
      </div>
      <div class="col-6 col-sm-4 col-lg-2">
        <span class="bi bi-cash-coin iconfooter"></span><br>
        <span>تضمین بهترین قیمت</span>
      </div>
    </div>
  </section>
  <section class="container-fluid border-top footer1">
    <form action="">
      <label>همیشه اولین نفر باشید! برای اطلاع از آخرین تخفیف‌ها و جدیدترین
        کالاها در خبرنامه ثبت‌نام کنید.
      </label>
      <input type="email" name="email" placeholder="آدرس ایمیل خود را وارد کنید" />
      <input type="submit" name="submit" value="عضویت" />
    </form>
  </section>
  <section class="container-fluid border-bottom footer2">
    <div class="row">
      <div class="col-sm-12 col-md-5 border p-2">
        <address><strong>آدرس :</strong>
          تهران، خیابان میرزای شیرازی، نرسیده به شهید بهشتی، کوچه شهدا، پلاک ۲۳، طبقه 2، واحد ۵ (مراجعه حضوری
          فقط با هماهنگی قبلی امکان‌پذیر است)</address>
      </div>
      <div class="col-sm-6 col-md-4 border p-2">
        <b>شماره تماس :</b> <span>0912-123-5555</span><br>
        <b>شماره تماس :</b> <span>0912-123-5555</span><br>
        <b>شماره تماس :</b> <span>0912-123-5555</span><br>
        <b> آدرس ایمیل :</b> <span>kikpickmanager@gmail.com</span>
      </div>
      <div class="col-sm-6 col-md-3 border p-2">
        <b>شبکه های اجتماعی</b><br>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""> <i class="bi bi-whatsapp"></i></a>
        <a href=""> <i class="bi bi-telegram"></i></a>
        <a href=""> <i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>

      </div>
    </div>
  </section>
  <section class="container-fluid border-bottom footer2-1">
    <div class="row">
      <div class="col-sm-12 col-md-9 p-2">
        <strong>درباره کیک پیک :</strong>
        <p>سایت کیک پیک به عنوان یکی از بزرگترین توزیع کننده انواع کیف و کوله‌پشتی لپ تاپی، کوله‌پشتی گیمینگ،
          کوله‌پشتی کوهنوردی، کیف نوزادی، کیف اداری، کوله پشتی مدرسه و دانشجویی، چمدان، کیف چرخدار، انواع ساک، کیسه
          خواب، زیرانداز، کیف چرمی، کیف رودوشی، کیف کمری، کاور تبلت و لپتاپ، نظم‌دهنده، کیف لوازم آرایش و غیره در
          ایران
          در حال فعالیت است. تمامی محصولات موجود در سایت از بهترین برندها با بالاترین کیفیت بوده و همچنین تمامی
          محصولات
          ارائه شده دارای گارانتی سلامتی فیزیکی هستند.

          ارسال رایگان برای خریدهای بالای یک میلیون تومان از دیگر امکانات سایت یک پیک برای رضایت بیشتر مشتریان
          است.

          از دیگر خدمات ارائه شده توسط سایت کیک پیک ارائه خدمات فروش عمده به همکاران (جهت همکاری در فروش) و
          سازمان‌ها، ادارات و شرکت‌های خصوصی (جهت تبلیغات یا مصرف کارکنان) با قیمت‌های فوق‌العاده است. جهت مشاوره و
          خرید
          عمده محصولات می‌توانید با شماره 88716730-021 و یا شماره واتساپ 09022004469 تماس حاصل نمایید.</p>
      </div>
      <div class="col-sm-12 col-md-3 p-2 text-center">
        <img src="https://123kif.ir/wp-content/uploads/2022/09/samandehi.webp" alt="">
        <img src="https://123kif.ir/wp-content/uploads/2022/09/enamad-1star.webp" alt="">
      </div>
    </div>

  </section>
  <section class="container-fluid mt-1 footer3">

    <p class="icon-color">
      کلیه حقوق وب‌سایت کیک پیک متعلق به شرکت بین‌المللی رایان فرید میباشد ۱۳۹۶
      <span class="bi bi-c-circle-fill"></span>

    </p>
  </section>
  <section class="container-fluid footermob">
    <div class="row">
      <div class="col-3">
        <a href=""><i class="bi bi-shop d-block"></i><span>فروشگاه
          </span></a>
      </div>
      <div class="col-3">
        <a href=""><i class="bi bi-arrow-left-right d-block"></i><span> مقایسه
          </span></a>
      </div>
      <div class="col-3">
        <a href=""><i class="bi bi-heart d-block" ></i><span> علاقه مندی
          </span></a>
      </div>
{% if request.user.is_authenticated %}
<div class="col-3">
  <a href="{% url 'dashboard' %}"><i class="bi bi-person d-block"></i><span> پنل کاربری
    </span></a>
</div>
{% else %}
<div class="col-3">
  <a href="{% url 'login_or_signup' %}"><i class="bi bi-person d-block"></i><span> ورود / ثبت نام
    </span></a>
</div>
{% endif %}
    </div>
  </section>
</footer>
<script src="{% static 'js/utils/footer.js' %}"></script>
