{% extends 'layout/base.html' %}
{% load static %}
{% block HEAD %}

<meta charset="utf-8">

<title>کیک پیک | {{page.title}}</title>
<meta name="description" content="{{page.description}}" />
<meta name="keywords" content="{{page.keywords}}" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
<link rel="manifest" href="/site.webmanifest">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'assets/font/bootstrap-icon/bootstrap-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/plugin/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/plugin/countdown/countdown.css' %}">
<link rel="stylesheet" href="{% static 'assets/js/plugin/rasta-contact/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

<script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<meta name="theme-color" content="#99ff00">

{% endblock %}
    
{% block BODY %}

<input type="hidden" name="sku" value="{{page.shenase}}">

{% include 'layout/menu.html' %}
{% csrf_token %}

<div class="bread-crumb py-4">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-lg-0 my-2">
            <ol class="breadcrumb mb-0 bread_crump">
                
            </ol>
        </nav>
    </div>
</div>

<!-- end breadcroumb -->

<!-- start main content -->

<!-- start product meta -->

<div class="product-meta py-20">
    <div class="container-fluid position-relative">
        <div class="content-box">
            <div class="container-fluid">
                <div class="row gy-3">
                    <div class="col-lg-4">
                        <div class="pro_gallery">
                            <div class="icon-product-box">
                                <div class="icon-product-box-item" data-bs-toggle="tooltip" data-bs-placement="right"
                                     data-bs-title="افزودن به علاقه مندی">
                                    <i class="bi bi-heart"></i>
                                </div>
                                <div class="icon-product-box-item" data-bs-toggle="tooltip" data-bs-placement="right"
                                     data-bs-title="مقایسه محصول">
                                    <i class="bi bi-arrow-left-right"></i>
                                </div>
                            </div>
                            <div class="pro-gallery-parent">
                                <div class="swiper product-gallery">
                                    <div class="swiper-wrapper product_slider" title="برای بزرگنمایی تصویر دابل کلیک کنید">
                                        
                                    </div>
                                    <div class="swiper-button-next d-none d-lg-flex"></div>
                                    <div class="swiper-button-prev d-none d-lg-flex"></div>
                                    <div class="swiper-pagination d-none d-lg-block"></div>
                                </div>
                            </div>
                            <div thumbsSlider="" class="swiper product-gallery-thumb">
                                <div class="swiper-wrapper product_slide_thumb">
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="product-mete-title bottom-border">
                            <h3 class="title-font h4">{{ page.title }}</h3>
                            <p class="mb-0 mt-3">شناسه کالا : {{ page.shenase }}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex align-items-center">
                                <span class="text-muted-two me-2">دسته بندی</span>
                                <div class="label-site rounded-pill product_cat">
                                </div>
                                <div class="col-md-4 product_brand">
                                </div>
                            </div>
                        </div>
                        <div class="product-meta-action mt-4 bottom-border">
                            <div class="row align-items-center gy-3">
                                <div class="col-sm-6">
                                    <div class="d-flex align-items-center justify-content-sm-start justify-content-center product_price">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="counter">
                                        <input type="text" name="count" class="counter" value="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-meta-color bottom-border my-4">
                            <h5 class="font-16">
                                انتخاب رنگ کالا
                            </h5>
                            <div class="product-meta-color-items product_color_select">

                            </div>
                        </div>
                        <div class="product-meta-overal my-3 bottom-border">
                            <div class="row gy-3 align-items-center">
                                <div class="col-md-4 quantity_status">
                                    <div class="label-site rounded-pill label-success">
                                        <i class="bi bi-check-circle me-1"></i>
                                        موجود در انبار
                                    </div>
                                    <div class="label-site label-success rounded-pill">
                                        آماده ارسال
                                        <i class="bi bi-truck ms-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div onClick="add_to_cart('{{page.shenase}}')" class="product-meta-add-to-cart mt-4">
                            <a class="btn product-meta-add-to-cart-btn main-color-one-bg rounded-pill">افزودن به
                                سبد خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Dottedsquare-product d-lg-flex d-none"></div>
    </div>
</div>

<!-- end product meta -->

<!-- start product desc -->

<div class="product-desc py-20">
    <div class="container-fluid">
        <div class="product-desc-tab">
            <ul class="nav" id="productTab" role="tablist">
                <li class="nav-item">
                    <button class="active waves-effect waves-light" id="productDescLess"
                            data-bs-toggle="tab" data-bs-target="#productDescLess-pane" role="button"
                            type="button" aria-selected="true">
                        توضیحات کالا
                    </button>
                </li>
                <li class="nav-item">
                    <button class=" waves-effect waves-light" id="productDesc"
                            data-bs-toggle="tab" data-bs-target="#productDesc-pane" role="button"
                            type="button" aria-selected="true">
                        مشخصات کالا
                    </button>
                </li>
                <li class="nav-item">
                    <button class=" waves-effect waves-light" id="productTable"
                            data-bs-toggle="tab" data-bs-target="#productTable-pane" role="button"
                            type="button" aria-selected="false">
                        توضیحات تکمیلی
                    </button>
                </li>
                <li class="nav-item">
                    <button class=" waves-effect waves-light" id="productComment"
                            data-bs-toggle="tab" data-bs-target="#productComment-pane" role="button"
                            type="button" aria-selected="false">
                        نظرات
                    </button>
                </li>
            </ul>
        </div>
        <div class="content-box">
            <div class="container-fluid">
                <div class="product-descs" id="prodesc">
                    <div class="product-desc">
                        <div class="product-desc-tab-content">
                            <div class="tab-content" id="productTabContent">
                                <div class="tab-pane fade show active product-desc-less-contents"
                                     id="productDescLess-pane">
                                    <div class="product-desc-content">
                                        <input type="checkbox" class="read-more-state" id="readMore3"/>
                                        <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
                                        <div class="read-more-wrap product_short_desc">
                                            
                                            
                                            
                                        </div>
                                        <!-- پایان والد بیشتر کمتر -->
                                    </div>
                                </div>
                                <div class="tab-pane fade product-desc-contents" id="productDesc-pane">
                                    <div class="product-desc-content">
                                        <input type="checkbox" class="read-more-state" id="readMore2"/>
                                        <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
                                        <div class="read-more-wrap product_detail_keywords">
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade product_table" id="productTable-pane">
                                    
                                </div>
                                <div class="tab-pane fade product-comment-content" id="productComment-pane">

                                    <div class="comment-form">
                                        <h6 class="font-26 mb-2 title-font">نظرت در مورد این محصول چیه؟</h6>
                                        <p class="font-14 text-muted mt-2">برای ثبت نظر، از طریق دکمه افزودن
                                            دیدگاه جدید
                                            نمایید. اگر این محصول را قبلا خریده باشید، نظر شما به عنوان خریدار
                                            ثبت خواهد
                                            شد.</p>
                                        <div class="row gy-4">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="comment-item mb-3">
                                                            <input type="text" class="form-control"
                                                                   id="floatingInputName">
                                                            <label for="floatingInputName"
                                                                   class="form-label label-float">نام خود را وارد
                                                                کنید</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group mt-3">
                                                            <label for="commentRating" class="">امتیاز
                                                                شما</label>
                                                            <fieldset id="commentRating" class="rating">
                                                                <input type="radio" id="star5" name="rating"
                                                                       value="5" required/>
                                                                <label for="star5">5 stars</label>
                                                                <input type="radio" id="star4" name="rating"
                                                                       value="4" required/>
                                                                <label for="star4">4 stars</label>
                                                                <input type="radio" id="star3" name="rating"
                                                                       value="3" required/>
                                                                <label for="star3">3 stars</label>
                                                                <input type="radio" id="star2" name="rating"
                                                                       value="2" required/>
                                                                <label for="star2">2 stars</label>
                                                                <input type="radio" id="star1" name="rating"
                                                                       value="1" required/>
                                                                <label for="star1">1 star</label>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="comment-item my-3">
                                                                        <textarea class="form-control"
                                                                                  id="floatingTextarea2"
                                                                                  style="height: 150px"></textarea>
                                                            <label for="floatingTextarea2"
                                                                   class="form-label label-float">متن نظر!</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 submit_comment">
                                                        <a
                                                           class="btn btn-comment border-0 main-color-one-bg my-3 mx-auto btn-lg waves-effect waves-light">ثبت
                                                            نظر</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment mb-4 comments_list">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end product desc -->

<!-- start product boxs -->
{% include 'layout/product-boxs.html' %}
{% include 'layout/footer.html' %}

{% include 'layout/mobile-menu.html' %}

{% block JS %}
<script src="{% static '' %}assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="{% static '' %}assets/js/vendor/jquery-3.7.1.min.js"></script>
<script src="{% static '' %}assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
<script src="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="{% static '' %}assets/js/plugin/countdown/countdown.js"></script>
<script src="{% static '' %}assets/js/plugin/vanilla-tilt/vanilla-tilt.min.js"></script>
<script src="{% static '' %}assets/js/plugin/rasta-contact/script.js"></script>
<script src="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="{% static '' %}assets/js/plugins.js"></script>
<script src="{% static '' %}assets/js/main.js"></script>
<script>
    $(function(){
    let sku = $('input[name=sku]').val();
    $.ajax({
        url: '/shop_api/single_product_data',
        type: 'POST',
        data: {'sku': sku},
        success: function(data){
            if (data.success === false){
                Swal.fire({
                    icon: 'error',
                    title: 'خطای اتصال به اینترنت',
                });
            } else {
                for(let i = 0; i < data.status.comments.length; i++){
                        $(`.comments_list`).append(`
                <div class="title">
                                            <div class="row align-items-center">
                                                <div class="col-sm-10">
                                                    <div class="d-flex align-items-center">
                                                        <div class="d-flex flex-wrap align-items-center ms-2">
                                                            <h6 class="text-muted font-14">${data.status.comments[i].name}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="d-flex star justify-content-end">
                                                        <i class="bi bi-star-fill"> ${data.status.comments[i].rate} امتیاز </i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc py-3">
                                            <p class="font-14 text-muted">
                                                ${data.status.comments[i].body}
                                            </p>
                                        </div>
                                    </div>
                `)
                }//endfor;
                    
                $(`.product_table`).html(`
                <div class="tab-pane fade active show"
                                         role="tabpanel" aria-labelledby="#productTable">
                                        <h6 class="font-26 mb-2 title-font">مشخصات فنی</h6>
                                        <div class="box_list mt-4">
                                            <p class="title"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                  height="16" fill="currentColor"
                                                                  class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                <path
                                                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                                                </path>
                                            </svg>اندازه محصول</p>
                                            <div>
                                                <ul class="param_list list-inline">
                                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                جنس محصول
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                ${data.status.product_jense}
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                وزن محصول
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                ${data.status.product_wight}
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                ابعاد خارجی
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                ${data.status.product_abad}
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="box_list mt-4">
                                            <p class="title"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                  height="16" fill="currentColor"
                                                                  class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                <path
                                                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                                                </path>
                                            </svg>مشخصات کلی</p>
                                            <div>
                                                <ul class="param_list list-inline">
                                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                برند کالا
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                ${data.status.brand}
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                نوع کالا
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                ${data.status.collection[0].title}
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li
                                                            class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom1">
                                                                گارانتی
                                                            </p>
                                                        </div>
                                                    </li>
                                                    <li class="list-inline-item col-md-8 p-0 m-0">
                                                        <div class="box_params_list">
                                                            <p class="block border_right_custom2">
                                                                مرجوع / تعویض
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        </div>
                                    </div>
                `)
                $('.product_detail_keywords').html(`
                <h6 class="font-26 mb-2 title-font">${data.status.short_description}</h6>
                <h7>${data.status.description}</h7>
                `)
                $('.product_short_desc').html(`
                <h5 class="font-22 mb-2 title-font">${data.status.keywords}</h5>
                <h7>${data.status.description}</h7>
                `);
                if(data.status.offer){
                    $('.product_price').append(`<p class="mb-0 old-price font-22 text-muted-two text-decoration-line-through me-3">
                                                ${data.status.price}</p>
                                            <h6 class="font-30 title-font new-price main-color-one-color">${data.status.offer} تومان</h6>`);
                }else{
                    $('.product_price').append(`<h6 class="font-30 title-font new-price main-color-one-color">${data.status.price} تومان</h6>`);
                } //endif
                // Check if collection exists
                if(data.status.collection && data.status.collection.length > 0) {
                    $('.product_cat').append(`${data.status.collection[0]['title']}`);
                    $('.bread_crump').html(`
                        <li class="breadcrumb-item"><a href="/" class="font-14 text-muted-two">خانه</a></li>
                        <li class="breadcrumb-item"><a href="/shop" class="font-14 text-muted-two">فروشگاه</a></li>
                        <li class="breadcrumb-item category_brd"><a href="/category/products/${data.status.collection[0]['slug']}" class="font-14 text-muted-two">${data.status.collection[0]['title']}</a></li>
                    `);
                }

                $('.product_brand').html(`<span class="text-muted-two me-2">برند</span><span>${data.status.brand}</span>`);

                if(data.status.colors && data.status.colors.length > 0) {
                    for(let i = 0; i < data.status.colors.length; i++){
                        $('.product_color_select').append(`
                        <input type="radio" class="btn-check" name="options"value="${data.status.colors[i]['id']}" id="option${i}" autocomplete="off" checked>
                            <label class="btn" for="option${i}">
                                <span style="background-color: ${data.status.colors[i]['code']}"></span>
                                ${data.status.colors[i]['title']}
                            </label>`);

                    }
                }

                if(data.status.slider && data.status.slider.length > 0) {
                    for(let i = 0; i < data.status.slider.length; i++){
                        $('.product_slider').append(`
                            <div class="swiper-slide">
                                <div class="swiper-zoom-container">
                                    <img class="img-fluid" src="https://kikpick.com/${data.status.slider[i]['url']}" alt="${data.status.slider[i]['alt']}"/>
                                </div>
                            </div>
                        `);
                        $('.product_slide_thumb').append(`
                            <div class="swiper-slide">
                                <img class="img-fluid" src="https://kikpick.com/${data.status.slider[i]['url']}" alt="${data.status.slider[i]['alt']}"/>
                            </div>
                        `);
                    }
                }

                if(data.status.colors && data.status.colors.length < 1){
                    $('.quantity_status').html(`
                        <div class="label-site rounded-pill label-error">
                            <i class="bi bi-check-circle me-1"></i>
                            فاقد موجودی
                        </div>
                    `);
                }
            }
        }
    });
});
 // end DOM
   
 $('.submit_comment').click(function (e) {
    data = {
        'post': $('input[name="sku"]').val(),
        'name': document.getElementById('floatingInputName').value,
        'body': document.getElementById('floatingTextarea2').value,
        'rate': document.querySelector('input[name="rating"]:checked').value,
    }
    console.log(data),
    $.ajax({
        url: '/shop_api/submit_comment',
        type: 'POST',
        data : data,
        success: function(response){
            if(response.success === false){
                Swal.fire({
                    icon: 'info',
                    title: response.status,
                    showConfirmButton: false
                })
            }else{
                Swal.fire({
                    icon: 'success',
                    title: response.status,
                    showConfirmButton: false
                })
            };//endif
        },//end success
    })
 });

 function separateDigitsWithComma(number) {
    // Convert the number to a string
    var numberString = String(number);
  
    // Split the string into an array of characters
    var digitsArray = numberString.split('');
  
    // Reverse the array to process digits from right to left
    digitsArray.reverse();
  
    // Iterate over the array and insert commas after every third digit
    for (var i = 3; i < digitsArray.length; i += 4) {
      digitsArray.splice(i, 0, ',');
    }
  
    // Reverse the array again to get the original order
    digitsArray.reverse();
  
    // Join the array into a string
    var result = digitsArray.join('');
  
    return result;
  }
  function load_cart_data(){
    $.ajax({
        url:'/cart/load_cart_data',
        type: 'POST',
        data: {'Hello':'world!'},
        success: function(response){
            if(response.success === false){
                console.log(response.status);
            }else{
                if(response.status.length > 0){
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">${response.status.length} مورد</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">${separateDigitsWithComma(response.status[0].total_price)} تومان</h5>
                    `);
                    $('.checkout_button').html(`
                    <a href="/cart" class="btn border-0 main-color-green text-white"><i
                                class="bi bi-arrow-left me-1"></i>تکمیل خرید</a>
                    `);
                    for(let i = 0; i <= response.status.length; i++){
                        $('.cart_body').append(`
                        <li class="nav-item">
                <div class="cart-canvas">
                    <div class="row align-items-center">
                        <div class="col-4 ps-0">
                            <img src="https://kikpick.com/${response.status[i].image}" alt="${response.status[i].title}">
                        </div>
                        <div class="col-8">
                            <a href="">
                                <h3 class="text-overflow-1 title-font font-14">
                                    ${response.status[i].title}
                                </h3>
                                <div class="cart-canvas-price my-3 d-flex align-items-center">
                                    <h6 class="title-font main-color-one-color">${separateDigitsWithComma(response.status[i].price)} تومان</h6>
                                </div>
                            </a>
                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                <div class="cart-canvas-count">
                                    <span>تعداد:</span>
                                    <span class="fw-bold main-color-one-color">${response.status[i].number}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>`);
                    }//endfor
                }else{
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">خالی است</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.checkout_button').html('')
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">0 تومان</h5>
                    `);
                    $('.cart_body').html(`
                    <div class="cart-empty-title">
          <h2 class="text-center title-font">
              سبد خرید شما خالی میباشد
          </h2>
          <div class="text-center mt-3">
              <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">برای شروع فرصت زیادی نیست</a>
          </div>
      </div>`);
                }//endif
            }//endif
        },//end suncces
    })//endajax
  }//end function


  function add_to_cart(id){
    let checkedValue = $('input[name="options"]:checked').val();
    let number = $('input[name="count"]').val();
    $.ajax({
        url: '/cart/add',
        type: 'POST',
        data: {
            'id': id,
            'selected_color_text': checkedValue,
            'number': number,
        },
        success: function (response) {
      if (response.success === false) {
        Swal.fire({
            icon: 'error',
            title: response.status,
            showConfirmButton: false,
        })
      } else {
        Swal.fire({
            icon: 'success',
            title: response.status,
            showConfirmButton: false,
        })
        window.location.reload();
      }
    },
    })
  }

  function load_offers_products(){
    $.ajax({
        url:'/shop_api/shop_data',
        type:'POST',
        data: {
            'page_number' : '1',
            'load_filter': 'offer_products_list',
          },
          success: function (response) {
      if (response.context === false) {
        internet_connection_error();
      } else {
        $(".offers_products").html("")
        for(let i = 0; i <= response.context.length; i++){
            let percent = Math.round(((response.context[i].price - response.context[i].offer) / response.context[i].price) * 100);
                $(".offers_products").append(`
                <div class="swiper-slide">
                    <div class="product-box">
                        <a href="/shop/${response.context[i].slug}">
                            <div class="product-box-image">
                                <img src="https://kikpick.com/${response.context[i].image}" alt="">
                            </div>
                            <div class="product-box-title">
                                <h5 class="text-overflow-2">
                                    ${response.context[i].title}
                                </h5>
                            </div>
                            <div class="product-box-price">
                                <div class="product-box-price-discount">
                                    <span class="d-block badge main-color-one-bg text-white font-14 rounded-pill">${percent}%</span>
                                    <del>${response.context[i].price}</del>
                                </div>
                                <div class="product-box-price-price">
                                    
                                    <h5 class="title-font main-color-green-color h2 mb-0 font-20">${separateDigitsWithComma(response.context[i].offer)}</h5>
                                    <p class="mb-0 text-muted">تومان</p>
                                </div>
                            </div>
                            <div class="product-box-hover">
                                <nav class="navbar navbar-expand justify-content-center">
                                    <ul class="navbar-nav align-items-center">
                                        <li class="nav-item"><a href="/shop/${response.context[i].slug}"
                                                                class="nav-item product-box-hover-item me-3">مشاهده
                                            محصول</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </a>
                    </div>
                </div>
                `);
        } //endfor
      }//end if
    } , //end success
    }) //end error
    //end ajax
  };//end function  


  load_cart_data();
  load_offers_products();

</script>
{% endblock %}
{% endblock %}