.boxpanel {
    width: 33%;
    height: 150px;
    padding: 10px;
    margin: 1px;
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
  }
  .boxpanel span {
    font-size: 60px;
  }
  .boxpanel:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.266);
  }
  .boxpanel a {
    color: rgb(138, 138, 138);
  }
  .boxpanel a span {
    color: var(--red);
  }
  .active:link {
    background-color: var(--red);
    border: 1px solid var(--red);
  }
  .list-group-item.active {
    z-index: 2;
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);