{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block HEADING %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}
{% block TITLE %}{{ page.title }}{% endblock %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block CONTENT %}
<input type="hidden" name="page_number" value="1">
<input type="hidden" name="pagintage_key" value="">
<main class="container-fluid">
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="position-sticky" style="top: 1rem">
        <div class="p-4 mb-3 asidefilter">
          <h4 class="h3 bchs">فیلتر قیمت</h4>
          <input type="number" id="min-price" value="" placeholder="حداقل قیمت از.....تومان" />
          <input type="number" id="max-price" value="" placeholder="حداکثر قیمت تا.....تومان" />
          <button id="rangePriceFilter" class="btn btn-outline-success">
            اعمال فیلتر
          </button>
        </div>
        <div class="p-4 mb-3 asidefilter">
          <h4 class="h3 bchs">فیلتر محصول</h4>
          <label for="specialdiscount">محصولات تخفیف دار</label>
          <input type="checkbox" id="specialdiscount" />
        </div>
        <div id="setBrand" class="p-4 mb-3 asidefilter">
          <h4 class="h3 bchs">انتخاب برند</h4>
          <!--LOAD FROM JS-->
        </div>
        <div id="setCat" class="p-4 mb-3 asidefilter">
          <h4 class="h3 bchs">انتخاب دسته بندی</h4>
          <!--LOAD FROM JS-->
        </div>
      </div>
    </div>
    <section class="col-xxl-9 col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
      <div class="sortpro">
        <span class="bi bi-sort-down"> مرتب سازی: </span>
        <a href="#"><span class="icon2 default_filter">جدیدترین</span></a>
        <a href="#"><span class="icon2 old_filter">قدیمی ترین</span></a>
        <a href="#"><span class="icon2 expensive_filter">گران‌ترین</span></a>
        <a href="#"><span class="icon2 cheapest_filter">ارزان‌ترین</span></a>
      </div>

      <div id="PRODUCT" class="row">
        <!-- IMPORT CONTEXT FROM JS -->
      </div>

      </section>
    </div>
    {% include 'layout/cart-convas.html' %}
</main>
{% block JS %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
  integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script>
    function separateDigitsWithComma(number) {
    // Convert the number to a string
    var numberString = String(number);
  
    // Split the string into an array of characters
    var digitsArray = numberString.split('');
  
    // Reverse the array to process digits from right to left
    digitsArray.reverse();
  
    // Iterate over the array and insert commas after every third digit
    for (var i = 3; i < digitsArray.length; i += 4) {
      digitsArray.splice(i, 0, ',');
    }
  
    // Reverse the array again to get the original order
    digitsArray.reverse();
  
    // Join the array into a string
    var result = digitsArray.join('');
  
    return result;
  }
  function load_cart_data(){
    $.ajax({
        url:'/cart/load_cart_data',
        type: 'POST',
        data: {'Hello':'world!'},
        success: function(response){
            if(response.success === false){
                console.log(response.status);
            }else{
                if(response.status.length > 0){
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">${response.status.length} مورد</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">${separateDigitsWithComma(response.status[0].total_price)} تومان</h5>
                    `);
                    $('.checkout_button').html(`
                    <a href="/cart" class="btn border-0 main-color-green text-white"><i
                                class="bi bi-arrow-left me-1"></i>تکمیل خرید</a>
                    `);
                    for(let i = 0; i <= response.status.length; i++){
                        $('.cart_body').append(`
                        <li class="nav-item">
                <div class="cart-canvas">
                    <div class="row align-items-center">
                        <div class="col-4 ps-0">
                            <img src="https://kikpick.com/${response.status[i].image}" alt="${response.status[i].title}">
                        </div>
                        <div class="col-8">
                            <a href="">
                                <h3 class="text-overflow-1 title-font font-14">
                                    ${response.status[i].title}
                                </h3>
                                <div class="cart-canvas-price my-3 d-flex align-items-center">
                                    <h6 class="title-font main-color-one-color">${separateDigitsWithComma(response.status[i].price)} تومان</h6>
                                </div>
                            </a>
                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                <div class="cart-canvas-count">
                                    <span>تعداد:</span>
                                    <span class="fw-bold main-color-one-color">${response.status[i].number}</span>
                                </div>
                                <div class="cart-canvas-delete">
                                    <a href="" class="btn"><i class="bi bi-x"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>`);
                    }//endfor
                }else{
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">خالی است</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.checkout_button').html('')
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">0 تومان</h5>
                    `);
                    $('.cart_body').html(`
                    <div class="cart-empty-title">
          <h2 class="text-center title-font">
              سبد خرید شما خالی میباشد
          </h2>
          <div class="text-center mt-3">
              <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">برای شروع فرصت زیادی نیست</a>
          </div>
      </div>`);
                }//endif
            }//endif
        },//end suncces
    })//endajax
  }//end function
  load_cart_data();
  </script>
  <script src="{% static 'js/product/product_archive.js' %}"></script>
{% endblock %}
{% endblock %}