{% load static %}
<div class="slider-brand d-lg-block d-none">
    <div class="container-fluid">
        <div class="row g-2 justify-content-center align-items-center">
            <div class="col-md-2 col-6">
                <div class="box">
                    <a href="">
                        <img src="{% static '' %}assets/img/brand1-1.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="box">
                    <a href="">
                        <img src="{% static '' %}assets/img/brand1-2.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="box">
                    <a href="">
                        <img src="{% static '' %}assets/img/brand1-3.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="box">
                    <a href="">
                        <img src="{% static '' %}assets/img/brand1-4.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="box">
                    <a href="">
                        <img src="{% static '' %}assets/img/brand1-6.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="box">
                    <a href="">
                        <img src="{% static '' %}assets/img/brand1-5.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>