{% extends 'layout/base.html' %}
{% load static %}
{% block HEAD %}
<meta charset="UTF-8">
<title>کیک پیک | خطای 503</title>
<link rel="stylesheet" type="text/css" href="{% static '' %}assets/js/plugin/503/style.css">
<link rel="stylesheet" type="text/css" href="{% static '' %}assets/js/plugin/503/oxygen.fonts.css">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">

<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="{% static '' %}assets/css/normalize.css">
<link rel="stylesheet" href="{% static '' %}assets/font/bootstrap-icon/bootstrap-icons.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/countdown/countdown.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/rasta-contact/style.css">
<link rel="stylesheet" href="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/main.css">
<link rel="stylesheet" href="{% static '' %}assets/css/responsive.css">

<meta name="theme-color" content="#f4f5f9">
{% endblock %}
{% block BODY %}
{% include 'layout/header.html' %}
{% include 'layout/menu.html' %}
<div class="container">
  <div class="error">
    <h1 style="font-weight: 900">503</h1>
    <h2>خطای</h2>
    <p style="font-weight: 600">
      سرور به طور موقت از دسترس خارج شده است. لطفا کمی بعد تر دوباره تلاش کنید
    </p>
    <p class="subtitle">ERR_INTERNAL_SERVER_ERROR</p>
  </div>
  <div class="stack-container">
    <div class="card-container">
      <div class="perspec" style="--spreaddist: 125px; --scaledist: .75; --vertdist: -25px;">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="perspec" style="--spreaddist: 100px; --scaledist: .8; --vertdist: -20px;">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="perspec" style="--spreaddist:75px; --scaledist: .85; --vertdist: -15px;">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="perspec" style="--spreaddist: 50px; --scaledist: .9; --vertdist: -10px;">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="perspec" style="--spreaddist: 25px; --scaledist: .95; --vertdist: -5px;">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-container">
      <div class="perspec" style="--spreaddist: 0px; --scaledist: 1; --vertdist: 0px;">
        <div class="card">
          <div class="writing">
            <div class="topbar">
              <div class="red"></div>
              <div class="yellow"></div>
              <div class="green"></div>
            </div>
            <div class="code">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'layout/mobile-menu.html' %}

{% block JS %}
<script type="text/javascript" src="{% static 'assets/js/plugin/503/script.js' %}"></script>
<script src="{% static '' %}assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="{% static '' %}assets/js/vendor/jquery-3.7.1.min.js"></script>
<script src="{% static '' %}assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
<script src="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="{% static '' %}assets/js/plugin/countdown/countdown.js"></script>
<script src="{% static '' %}assets/js/plugin/vanilla-tilt/vanilla-tilt.min.js"></script>
<script src="{% static '' %}assets/js/plugin/rasta-contact/script.js"></script>
<script src="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="{% static '' %}assets/js/plugins.js"></script>
<script src="{% static '' %}assets/js/main.js"></script>
{% endblock %}
{% endblock %}