{% load static %}
{% load jalali_tags %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block HEADING %}{% endblock %}
  <title>{% block TITLE %}{% endblock %}</title>
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Place favicon.ico in the root directory -->
  
  <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'assets/font/bootstrap-icon/bootstrap-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/js/plugin/swiper/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/js/plugin/countdown/countdown.css' %}">
  <link rel="stylesheet" href="{% static 'assets/js/plugin/rasta-contact/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <meta name="theme-color" content="#99ff00">
  {% block HEADJS %}{% endblock %}
  {% block CSS %}{% endblock %}
</head>

<body id="BODY">
  {% include 'layout/header.html' %}
  <div class="zone">
    {% block CONTENT %}{% block JS %}{% endblock %}{% endblock %}
  </div>
  {% include 'layout/footer.html' %}


  <script src="{% static '' %}assets/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="{% static '' %}assets/js/vendor/jquery-3.7.1.min.js"></script>
  <script src="{% static '' %}assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
  <script src="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.js"></script>
  <script src="{% static '' %}assets/js/plugin/countdown/countdown.js"></script>
  <script src="{% static '' %}assets/js/plugin/vanilla-tilt/vanilla-tilt.min.js"></script>
  <script src="{% static '' %}assets/js/plugin/rasta-contact/script.js"></script>
  <script src="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
  <script src="{% static '' %}assets/js/plugins.js"></script>
  <script src="{% static '' %}assets/js/main.js"></script>
  
</body>

</html>