{% extends "wagtailadmin/base.html" %}
{% block titletag %} درخواست های پشتیبانی {% endblock %}
{% block css %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
body{
    background-color: #ffffff;
    margin-top:20px;
}
.card {
    background: rgb(198, 241, 255);
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}
.sendBTN{
    background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer;
}
.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #a2ddff
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: rgb(86, 202, 162);
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #0893f6
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #e65710;
    font-size: 14px;
    font-weight: bold;
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #5c09e3
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #5c09e3
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #000000;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #1184d1;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #bbc3df
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #30e8b1;
    text-align: center;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #43e6c0;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #3d6fec
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #ffbfbf;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}
    </style>
{% endblock %}
{% block content %}
{% csrf_token %}
{% include "wagtailadmin/shared/header.html" with title="پشتیبانی آنلاین" icon="tablet-alt" %}
<input id="USER_PHONE_HIDDEN" name="PHONE_HIDDEN" type="hidden" value="ADD">
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                    </div>
                    {% for support in support_requests %}
                    <ul class="list-unstyled chat-list mt-2 mb-0"><!--User Lists-->
                        <li class="clearfix active" onclick="support_get_user('{{support.user}}');">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="avatar">
                            <div class="about">
                                <div class="name">مشتری شماره {{ support.user }}</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> زمان انتظار {{ support.wait }} </div>                                            
                            </div>
                        </li>
                    </ul><!--End User Lists-->
                    {% empty %}
                    <ul class="list-unstyled chat-list mt-2 mb-0"><!--User Lists-->
                        <li class="clearfix active">
                            <div class="about">
                                <div class="name">درخواستی وجود ندارد</div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="chat">
                    <div class="chat-header clearfix"><!--User detail-->
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img id="USER_PIC">
                                </a>
                                <div class="chat-about">
                                    <h3 id="USER_PHONE" class="m-b-0"></h3>
                                </div>
                            </div>
                        </div>
                    </div><!--End user detail-->
                    <div class="chat-history"><!--CHAT MESSAGES-->
                        <ul id="support_log" class="m-b-0">                              
                            <!--LOAD MESSAGE HERE-->
                        </ul>
                    </div><!--END CHAT MESSAGES-->
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <button id="support_submit" class="sendBTN"><span class="input-group-text">ارسال</span></button>
                            </div>
                            <input id="support_message" type="text" class="form-control" placeholder="پیامی برای ارسال وارد کنید">                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<script>
// Define variables
const messageInputDom = document.querySelector('#support_message');
const submitButtonDom = document.querySelector('#support_submit');
const token = $('input[name=csrfmiddlewaretoken]').val();
var date = new Date();
var hours = date.getHours();
var minutes = date.getMinutes();
hours = (hours < 10 ? "0" : "") + hours;
minutes = (minutes < 10 ? "0" : "") + minutes;
var time = hours + ":" + minutes;
// Focus on the message input field when the page loads
messageInputDom.focus();
// Handle enter key press on the message input field
messageInputDom.addEventListener('keyup', function(e) {
  if (e.keyCode === 13) {  // Enter key pressed
    submitButtonDom.click();
  }
});
// => Give User number and return user message timestamp
function support_get_user(user_phoneNumber){
    $("#support_log").html("");
    $.getJSON(`/api/support/?search=${user_phoneNumber}`, function(message_data){
        for(let i = 0; i <= message_data.count; i++){
            message = message_data.results[i];
            $("#USER_PHONE").html(`<h3 id="USER_PHONE" class="m-b-0">${user_phoneNumber}</h3>`);
            $("input[name=PHONE_HIDDEN]").val(`${user_phoneNumber}`);
            if(message.support_status == 'USER'){
                const newMessage = $('<li>').addClass('clearfix').append(
            $('<div>').addClass('message-data').append(
              $('<span>').addClass('message-data-time').text(message.time),
            ),
            $('<div>').addClass('message my-message').text(message.message),
          );
          $("#support_log").append(newMessage);
            }else{
                const newMessage = $('<li>').addClass('clearfix').append(
            $('<div>').addClass('message-data text-right').append(
              $('<span>').addClass('message-data-time').text(message.time),
            ),
            $('<div>').addClass('message other-message float-right').text(message.message),
          );
          $("#support_log").append(newMessage);
            };// End if SUPPORT_STATUS
        }// END for i
        fetchLatestMessages();
    }) // End getJSON message_data
}// End Function
// => Handle submit button click
submitButtonDom.addEventListener('click', function(e) {
  let token = $('input[name=csrfmiddlewaretoken]').val();
  let slug = $('input[name=PHONE_HIDDEN]').val();
  if(slug == 'ADD'){
    Swal.fire({
          icon: "error",
          title: 'برای ارسال پیام ابتدا کاربری را انتخاب کنید',
          showConfirmButton: false,
          timer: 3000,
        });
        return;
  };
  const message = messageInputDom.value;
  if (message) {
    const support_status = "active";
    const data = {
      'support_room': slug,
      'support_message': message,
      'support_status': support_status,
      'time': time,
      'csrfmiddlewaretoken': token,
    };
    $.ajax({
      url: '/support/post_message', 
      type: 'POST',
      data: data,
      success: function(response) {
        if (response.success === false) {
          Swal.fire({
            icon: "error",
            title: response.status,
            showConfirmButton: false,
            timer: 3000,
          });
        } else {
          messageInputDom.value = '';
        }
      },
      error: function(xhr, status, error) {
        Swal.fire({
          icon: "error",
          title: status,
          showConfirmButton: false,
          timer: 3000,
        });
      }
    });
  } else {
    Swal.fire({
      icon: "error",
      title: "پیام پشتیبانی نمیتواند خالی باشد",
      showConfirmButton: false,
      timer: 2000,
    });
  }
});
// => Function to poll for new messages
function pollMessages(timestamp) {
  let slug = $('input[name=PHONE_HIDDEN]').val();
  $.ajax({
    url: '/support/get_message',
    data: { 'timestamp': timestamp, 'support_room': slug },
    success: function(data) {
      const messages = data.messages;
      for (const message of messages) {
        console.log(message.time)
        if(message.status == 'USER'){
            const newMessage = $('<li>').addClass('clearfix').append(
            $('<div>').addClass('message-data').append(
              $('<span>').addClass('message-data-time').text(message.time),
            ),
            $('<div>').addClass('message my-message').text(message.message),
          );
          $("#support_log").append(newMessage);
        }else{
            const newMessage = $('<li>').addClass('clearfix').append(
            $('<div>').addClass('message-data text-right').append(
              $('<span>').addClass('message-data-time').text(message.time),
            ),
            $('<div>').addClass('message other-message float-right').text(message.message),
          );
          $("#support_log").append(newMessage);
        }
      }
      if (messages.length > 0) {
        const lastTimestamp = messages[messages.length - 1].timestamp;
        pollMessages(lastTimestamp);
      } else {
        // Adjust the polling interval to your preference
        setTimeout(function() {
          pollMessages(timestamp);
        }, 2000);
      }
    },
    error: function(xhr, status, error) {
      // Adjust the polling interval to your preference
      setTimeout(function() {
        pollMessages(timestamp);
      }, 2000);
    },
    timeout: 30000,
    dataType: 'json'
  });
}
// => Initial function to fetch latest messages and start long polling
function fetchLatestMessages() {
  let search_user = $('input[name=PHONE_HIDDEN]').val();
  $.ajax({
    url: `/api/support/?search=${search_user}`,
    type: 'GET',
    dataType: 'json',
    success: function(response) {
      var results = response.results;
      if (results.length > 0) {
        let support_timestamp = results[results.length - 1].timestamp;
        pollMessages(support_timestamp);
      } else {
        // Adjust the polling interval to your preference
        setTimeout(fetchLatestMessages, 2000);
      }
    },
    error: function(xhr, status, error) {
      // Adjust the polling interval to your preference
      setTimeout(fetchLatestMessages, 2000);
    }
  });
}
fetchLatestMessages();
</script>
{% endblock %}