{% load static %}
<div class="about-us py-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us-image">
                    <img src="{% static '' %}assets/img/about-us.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-desc">
                    <div class="about-us-title">
                        <div class="row gy-3">
                            <div class="col-lg-4">
                                <h4 class="title-font mt-3">کیک پیک</h4>

                                <h6 class="main-color-one-color"> مقصد نهایی شما برای تمام نیازهای کیف و لوازم جانبی</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about-us-text">
                        <p class="text-muted text-justify mb-0 mt-3">
                            کیک پیک متعهد به ارائه محصولات باکیفیت و مقرون‌به‌صرفه به مشتریان خود است. برای همین، ما برای تمام مناسبت‌های سال و تمام ایام، طرح‌های ویژه و تخفیف‌های بالایی را روی محصولاتمان اعمال می‌کنیم.
بیش از 9 سال سابقه تولید و فروش انواع کوله پشتی لپ‌تاپ، کیف، چمدان، ساک ورزشی و لوازم دکوراتیو منزل را داریم و تولیدکننده انحصاری برندهای معتبر فوروارد، الکسا، آی مکس و لکسین هستیم.
از خرید بدون واسطه و تخفیف‌های عالی ما لذت ببرید!
 برای اطلاعات بیشتر از صفحه داستان ما دیدن کنید :)
                        </p>
                    </div>
                    <div class="about-us-link mt-4 d-flex align-items-center">
                        <span class="time-work"><i class="bi bi-clock"></i> ساعت کاری شنبه تا پنجشنبه 8:30 الی 17</span>
                        <a href="" class="btn main-color-one-bg">داستان ما<i class="bi bi-caret-left-fill ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
