{% load static %}
<div class="advert-banner">
    <div class="container-fluid">
        <div class="row g-3 align-items-center">

            <div class="col-lg-6">
                <div class="advert-banner-item img-tilt" data-tilt>
                    <a href="">
                        <img src="{% static '' %}assets/img/advert-1.webp" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="advert-banner-item img-tilt" data-tilt>
                    <a href="">
                        <img src="{% static '' %}assets/img/advert-2.webp" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>