{% load static %}
<!doctype html>
<html class="no-js" lang="Fa_IR" dir="rtl">
     <head>
          <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       {% block HEAD %}
            {% endblock %}
        </head>
     
<body>
{% include 'layout/header.html' %}
     <div class="zone">
               {% block BODY %}
            {% block JS %}

            {% endblock %}
     {% endblock %}
     </div>
     {% include 'layout/cart-convas.html' %}

</body>
</html>