{% load static %}
<!doctype html>
<html class="no-js" lang="Fa_IR" dir="rtl">
     <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
       {% block HEAD %}
            {% endblock %}
        </head>
     
<body>
     {% block BODY %}
        
            
            {% block JS %}

            {% endblock %}
        
     {% endblock %}
</body>
</html>