{% load static %}
<div class="blog-slider py-20">
    <div class="container-fluid">
        <div class="slider-title">
            <div class="row">
                <div class="col-sm-8">
                    <div class="slider-title-desc">
                        <div class="slider-title-icon">
                            <div class="slider-title-icon-parent bg-white">
                                <div>
                                    <span><i class="bi bi-caret-right-fill"></i></span>
                                    <h6>کیک پیک بخوان !</h6>
                                </div>
                            </div>
                        </div>
                        <div class="slider-title-title">
                            <h2 class="h1"> مجله<span class="title-font main-color-one-color"> کیک پیک</span></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="slider-title-link">
                        <a href="" class="main-color-one-color font-16"> مشاهده همه مقالات <i
                                class="bi bi-caret-left-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-slider-items mt-3">
            <div class="row gy-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row gy-5">
                        <div class="col-md-6">
                            <div class="blog-slider-item-stand">
                                <a href="">
                                    <span class="blog-slider-overlay"></span>
                                    <div class="blog-slider-item-stand-image">
                                        <img src="{% static '' %}assets/img/blog-1.jpg" alt="">
                                    </div>
                                    <div class="blog-slider-item-stand-text">
                                        <div class="blog-slider-item-stand-title">
                                            <span class="badge badge-pill main-color-two-bg mb-2">جدید ترین ها</span>
                                            <h6 class="font-16 title-font text-overflow-1 text-white">راهنمای خرید موبایل آبان 1402</h6>
                                            <p class="text-overflow-2 text-white mb-0 mt-2">رید گوشی موبایل مانند هر وسیله دیگری، نیازمند تحقیق و کسب اطلاعات کافی است. ما در این راهنمای خرید سعی می‌کنیم تا بهترین محصولات بازار را معرفی کنیم و حتی به صورت اختصاصی</p>
                                            <div class="blog-slider-item-info d-flex align-items-center justify-content-between">
                                                <div class="blog-slider-item-info-item me-2 text-white">
                                                    <i class="bi bi-clock me-1"></i>
                                                    <span class="text-white">2 روز پیش نوشته شده</span>
                                                </div>
                                                <div class="blog-slider-item-info-item text-white">
                                                    <i class="bi bi-eye me-1"></i>
                                                    <span class="text-white">17 بازدید</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-slider-item-stand">
                                <a href="">
                                    <span class="blog-slider-overlay"></span>
                                    <div class="blog-slider-item-stand-image">
                                        <img src="{% static '' %}assets/img/blog-3.jpg" alt="">
                                    </div>
                                    <div class="blog-slider-item-stand-text">
                                        <div class="blog-slider-item-stand-title">
                                            <span class="badge badge-pill main-color-two-bg mb-2">جدید ترین ها</span>
                                            <h6 class="font-16 title-font text-overflow-1 text-white">راهنمای خرید موبایل آبان 1402</h6>
                                            <p class="text-overflow-2 text-white mb-0 mt-2">رید گوشی موبایل مانند هر وسیله دیگری، نیازمند تحقیق و کسب اطلاعات کافی است. ما در این راهنمای خرید سعی می‌کنیم تا بهترین محصولات بازار را معرفی کنیم و حتی به صورت اختصاصی</p>
                                            <div class="blog-slider-item-info d-flex align-items-center justify-content-between">
                                                <div class="blog-slider-item-info-item me-2 text-white">
                                                    <i class="bi bi-clock me-1"></i>
                                                    <span class="text-white">2 روز پیش نوشته شده</span>
                                                </div>
                                                <div class="blog-slider-item-info-item text-white">
                                                    <i class="bi bi-eye me-1"></i>
                                                    <span class="text-white">17 بازدید</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="blog-slider-item-row">
                        <a href="">
                            <div class="row gy-3 align-items-center">
                                <div class="col-sm-4">
                                    <div class="blog-slider-item-row-image">
                                        <img src="{% static '' %}assets/img/blog-4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="blog-slider-item-stand-text">
                                        <div class="blog-slider-item-stand-title">
                                            <h6 class="font-16 title-font text-overflow-1 main-color-one-color">راهنمای خرید موبایل آبان 1402</h6>
                                            <p class="text-overflow-2 my-2">رید گوشی موبایل مانند هر وسیله دیگری، نیازمند تحقیق و کسب اطلاعات کافی است. ما در این راهنمای خرید سعی می‌کنیم تا بهترین محصولات بازار را معرفی کنیم و حتی به صورت اختصاصی</p>
                                            <div class="blog-slider-item-info d-flex align-items-center">
                                                <div class="blog-slider-item-info-item me-3">
                                                    <i class="bi bi-clock me-1"></i>
                                                    <span>2 روز پیش نوشته شده</span>
                                                </div>
                                                <div class="blog-slider-item-info-item">
                                                    <i class="bi bi-eye me-1"></i>
                                                    <span>17 بازدید</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="blog-slider-item-row">
                        <a href="">
                            <div class="row gy-3 align-items-center">
                                <div class="col-sm-4">
                                    <div class="blog-slider-item-row-image">
                                        <img src="{% static '' %}assets/img/blog-5.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="blog-slider-item-stand-text">
                                        <div class="blog-slider-item-stand-title">
                                            <h6 class="font-16 title-font text-overflow-1 main-color-one-color">راهنمای خرید موبایل آبان 1402</h6>
                                            <p class="text-overflow-2 my-2">رید گوشی موبایل مانند هر وسیله دیگری، نیازمند تحقیق و کسب اطلاعات کافی است. ما در این راهنمای خرید سعی می‌کنیم تا بهترین محصولات بازار را معرفی کنیم و حتی به صورت اختصاصی</p>
                                            <div class="blog-slider-item-info d-flex align-items-center">
                                                <div class="blog-slider-item-info-item me-3">
                                                    <i class="bi bi-clock me-1"></i>
                                                    <span>2 روز پیش نوشته شده</span>
                                                </div>
                                                <div class="blog-slider-item-info-item">
                                                    <i class="bi bi-eye me-1"></i>
                                                    <span>17 بازدید</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>