{% load static %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
    <div class="offcanvas-header shadow-md cart_title">
        
    </div>

    <div class="offcanvas-body">
        <ul class="navbar-nav cart-canvas-parent cart_body">
            
        </ul>

        <div class="cart-canvas-foots bg-white shadow-md">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="cart-canvas-foot-sum cart_total">
                        
                    </div>
                </div>
                <div class="col-6">
                    <div class="cart-canvas-foot-link text-end checkout_button">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--end cart canvas-->