{% load static %}
<div class="site-category py-20">
    <div class="container-fluid">
        <div class="section-title">
            <h3 class="title-font text-center"><span class="main-color-one-color">دسته بندی</span> محصولات</h3>
            <img src="{% static '' %}assets/img/line.png" height="50" alt="">
        </div>

        <div class="site-categories">
            <div class="row g-4 justify-content-center">

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-1.png" alt="">
                            </div>
                            <h6 class="text-center">هدفون</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-2.png" alt="">
                            </div>
                            <h6 class="text-center">فلش مموری</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-3.png" alt="">
                            </div>
                            <h6 class="text-center">مودم روتر</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-4.png" alt="">
                            </div>
                            <h6 class="text-center">دسته بازی</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-5.png" alt="">
                            </div>
                            <h6 class="text-center">وب کم</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-6.png" alt="">
                            </div>
                            <h6 class="text-center">ماوس</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-7.png" alt="">
                            </div>
                            <h6 class="text-center">انواع رم</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-8.png" alt="">
                            </div>
                            <h6 class="text-center">صفحه کلید</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-11.png" alt="">
                            </div>
                            <h6 class="text-center">انواع Cpu</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-9.png" alt="">
                            </div>
                            <h6 class="text-center">انواع کابل</h6>
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="site-category-items p-3 shadow-box rounded-3">
                        <a href="">
                            <div class="site-category-items-icon">
                                <img src="{% static '' %}assets/img/cat-10.png" alt="">
                            </div>
                            <h6 class="text-center">انواع کامپیوتر</h6>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
