{% load static %}
<div class="site-category py-20">
    <div class="container-fluid">
        <div class="section-title">
            <h3 class="title-font text-center"><span class="main-color-one-color">دسته بندی</span> محصولات</h3>
            <img src="{% static '' %}assets/img/line.png" height="50" alt="">
        </div>

        <div class="site-categories">
            <div class="row g-4 justify-content-center category_items">
              <div class="col-lg-2 col-sm-6">
                <div class="site-category-items p-3 shadow-box rounded-3">
                  <div class="swiper-slide">
                    <div class="product-box">
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
              <div class="site-category-items p-3 shadow-box rounded-3">
                <div class="swiper-slide">
                  <div class="product-box">
                      <div class="spinner-grow text-danger" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                  </div>
              </div>
              </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="site-category-items p-3 shadow-box rounded-3">
              <div class="swiper-slide">
                <div class="product-box">
                    <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="site-category-items p-3 shadow-box rounded-3">
            <div class="swiper-slide">
              <div class="product-box">
                  <div class="spinner-grow text-danger" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
              </div>
          </div>
          </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="site-category-items p-3 shadow-box rounded-3">
          <div class="swiper-slide">
            <div class="product-box">
                <div class="spinner-grow text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>
        </div>
        </div>
    </div>
            </div>
            </div>
        </div>

    </div>
</div>
