{% load static %}
<div class="feature py-20">
    <div class="container-fluid">
        <div class="row justify-content-center g-2 row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5">

            <div class="col">
                <div class="feature-item">
                    <div class="feature-item-icon">
                        <img src="{% static '' %}assets/img/credit-card.png" alt="">
                    </div>
                    <div class="feature-item-desc">
                        <h5>تضمین قیمت
                        </h5>
                        <p class="text-muted mb-0 mt-1">
                            حذف واسطه ها
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="feature-item">
                    <div class="feature-item-icon">
                        <img src="{% static '' %}assets/img/fast.png" alt="">
                    </div>
                    <div class="feature-item-desc">
                        <h5>ارسال اکسپرس
                        </h5>
                        <p class="text-muted mb-0 mt-1">
                            سیستم تحویل سریع 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="feature-item">
                    <div class="feature-item-icon">
                        <img src="{% static '' %}assets/img/badge.png" alt="">
                    </div>
                    <div class="feature-item-desc">
                        <h5>اصالت کالا
                        </h5>
                        <p class="text-muted mb-0 mt-1">
                            تضمین بازگشت وجه 
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="feature-item">
                    <div class="feature-item-icon">
                        <img src="{% static '' %}assets/img/headphone.png" alt="">
                    </div>
                    <div class="feature-item-desc">
                        <h5>پشتیبانی قدرتمند
                        </h5>
                        <p class="text-muted mb-0 mt-1">24 ساعته شبانه روز
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>