{% load static %}
<footer class="footer py-20">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-2">
                <div class="footer-reutrned">
                    <div><i class="bi bi-gift"></i><i class="bi bi-gift-fill"></i><i class="bi bi-gift"></i></div>
                    <h4 class="text-center">تخفیف ویژه برای اولین خرید با کد تخفیف : kikpick</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="footer-main">
                    <div class="footer-main-desc">
                        <p class="text-muted text-justify font-16">
ما کیک پیک هستیم، یک شرکت بین‌المللی که بیش از 9 سال است در زمینه تولید و فروش انواع کوله پشتی لپ‌تاپ، کیف، چمدان، ساک ورزشی و لوازم دکوراتیو منزل فعالیت می‌کنیم.

ما مفتخریم که تولیدکننده انحصاری برندهای معتبر فوروارد، الکسا، آی مکس و لکسین هستیم. این بدان معناست که با خرید از کیک پیک، شما مستقیماً از تولیدکننده خرید می‌کنید و واسطه‌ها را حذف می‌کنید.

ما متعهد هستیم که محصولات باکیفیت و مقرون‌به‌صرفه را به شما ارائه دهیم. برای همین، ما برای تمام مناسبت‌های سال و تمام ایام، طرح‌های ویژه و تخفیف‌های بالایی را روی محصولاتمان اعمال می‌کنیم.

در کیک پیک، ما به مشتریان خود اهمیت می‌دهیم. ما می‌خواهیم مطمئن شویم که شما از خرید خود کاملاً راضی هستید. به همین دلیل، ما یک تیم پشتیبانی مشتری اختصاصی داریم که همیشه آماده پاسخگویی به سؤالات و کمک به شما در یافتن محصول مناسب است.

پس چرا منتظر بمانید؟ امروز از کیک پیک دیدن کنید و طیف گسترده‌ای از محصولات ما را کشف کنید. ما مطمئن هستیم که چیزی را پیدا خواهید کرد که دوست دارید و نیازهای شما را برآورده می‌کند.

از خرید بدون واسطه و تخفیف‌های عالی ما لذت ببرید!
                        </p>
                    </div>
                </div>
                <div class="footer-main-address py-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-sm-6">
                            <div class="footer-main-address-address d-flex align-items-center">
                                <div class="footer-main-address-icon me-2">
                                    <img src="{% static '' %}assets/img/pin.png" alt="" width="70">
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="mb-3">
                                        <span class="badge font-12 main-color-one-bg text-white rounded-pill">دفتر مرکزی</span>
                                    </div>
                                    <div>
                                        <p class="mb-0 font-16"><span class="fw-bold h5 title-font">تهران -</span>تهران، خیابان میرزای شیرازی, کوچه شهدا پلاک ۲۳ واحد۶
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-main-address-email">
                                <div class="text-sm-end text-start">
                                    <span class="badge bg-dark text-white font-13 mb-3 rounded-pill">کد پستی : 1586757517</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-main-links">
                    <div class="row gy-4">
                        <div class="col-md-4 col-12">
                            <div class="footer-main-links-enamad">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="text-center">
                                            <a href="">
                                                <img src="{% static '' %}assets/img/enamad.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-center">
                                            <!--a href="https://trustseal.enamad.ir/?id=355681&amp;Code=null"
                                               target="_blank">
                                               <img referrerpolicy="origin"
                                                   src="https://trustseal.enamad.ir/logo.aspx?id=355681&amp;Code=null"
                                                   alt="" style="cursor:pointer;width:75px" code="null">
                                           </a-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copy-right">
                    <p class="font-16 my-4">کلی حقوق این سایت متعلق به <span class="fw-bold">کیک پیک</span> می باشد</p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-contact">
                    <div class="footer-contact-link text-center">
                        <a href="#" role="button" onclick="topFunction()"><i class="bi bi-chevron-up"></i></a>
                    </div>
                    <div class="footer-contact-desc text-center">
                        <h5 class="text-white"><br>مشاوره, پیشتیبانی و خدمات پس از فروش کیک پیک</h5>
                    </div>
                    <div class="footer-contact-desc-call text-center mt-3">
                        <a>
                            <h4 style="direction: ltr" class="text-white h3">021 <span class="title-font me-2 text-white">88557381</span></h4>
                        </a>
                        <a>
                            <h4 style="direction: ltr" class="text-white h3">021 <span class="title-font me-2 text-white">88716730</span></h4>
                        </a>
                        <a>
                            <h4 style="direction: ltr" class="text-white h3">0902 <span class="title-font me-2 text-white">2004469</span></h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>