{% load static %}
<header class="header">
    <div class="container-fluid">
        <div class="row gy-3 align-items-center">
            <div class="col-xl-3 col-6">
                <div class="header-logo">
                    <div class="image">
                        <a href="index.html">
                            <!--img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt=""--> 
                        </a>
                    </div>
                    <div class="description d-md-block d-none">
                        <h6 class="font-20 title-font">فروشگاه کیک پیک</h6>
                        <p class="mb-0 mt-1 text-muted">فروشگاهی برای همه سلیقه ها</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 d-xl-block d-none">
                <div class="header-form">
                        <input type="search" id="textInput" class="form-control textInput" placeholder="جستجوی محصول">
                        <button class="btn input-btn-search " onclick="search(document.getElementById('textInput').value)"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <div class="col-xl-4 col-6">
                <div class="header-btn">
                    {% if user.is_authenticated %}
                    <div class="header-cart d-lg-block d-none">
                        <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart"
                           class="btn main-color-one-bg">
                            <i class="bi bi-basket-fill"></i>
                            <span>سبد خرید</span>
                            <span id="cartCounter" class="cart-counter">{{cart_count}}</span>
                        </a>
                    </div>
                    {% else %}
                    <div class="header-cart d-lg-block d-none">
                        <a href="/accounts" role="button" aria-controls="offcanvasCart"
                           class="btn main-color-one-bg">
                            <i class="bi bi-basket-fill"></i>
                            <span>سبد خرید</span>
                            <span id="cartCounter" class="cart-counter">0</span>
                        </a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <div class="header-btn-login d-lg-block d-none">
                        <a href="/accounts/dashboard" class="btn"><i class="bi bi-person-fill"></i>پنل کاربری</a>
                    </div>
                    {% else %}
                    <div class="header-btn-login d-lg-block d-none">
                        <a href="/accounts" class="btn"><i class="bi bi-key-fill"></i> ورود / ثبت نام</a>
                    </div>
                    {% endif %}
                    <div class="header-btn-login-responsive d-lg-none d-block">
                        <a href="" class="btn"><i class="bi bi-person-fill fs-2"></i></a>
                    </div>
                    <div class="header-btn-favorite">
                        <a href="" class="btn"><i class="bi bi-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-2 d-xl-none d-block">
                <div class="responsive-menu d-xl-none d-block">
                    <button class="btn border-0 p-0 btn-responsive-menu" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#responsiveMenu" aria-controls="responsive menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="responsiveMenu"
                         aria-labelledby="responsive menu">

                        <div class="offcanvas-body">
                            <a href="" class="text-center d-block mb-3">
                                <h6 class="font-20 title-font">فروشگاه کیک پیک </h6>
                            </a>
                            <ul class="rm-item-menu navbar-nav">
                                <li class="nav-item bg-ul-f7"><a href="index.html" class="nav-link">فروشگاه</a>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a href="" class="nav-link">دسته بندی ها</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">برند</a>
                                            <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                            <ul class="navbar-nav h-0 bg-ul-f7">
                                                <li class="nav-item"><a href="" class="nav-link">سامسونگ</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">هوآوی</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">شیائومی</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">الجی</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">سونی</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="">بر اساس رده بندی</a>
                                            <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                            <ul class="navbar-nav h-0 bg-ul-f7">
                                                <li class="nav-item"><a href="" class="nav-link">لمسی</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">دکمه ای</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">نظامی</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a href="" class="nav-link">برند ها</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">
                                        <li class="nav-item">
                                            <a class="nav-link" href="">برند</a>
                                            <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                            <ul class="navbar-nav h-0 bg-ul-f7">
                                                <li class="nav-item"><a href="" class="nav-link">سامسونگ</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">هوآوی</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">شیائومی</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">الجی</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">سونی</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="">بر اساس رده بندی</a>
                                            <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                            <ul class="navbar-nav h-0 bg-ul-f7">
                                                <li class="nav-item"><a href="" class="nav-link">لمسی</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">دکمه ای</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">نظامی</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item bg-ul-f7"><a href="index.html" class="nav-link">تخفیفات شگفت انگیز امروز</a>
                                </li>
                                <li class="nav-item bg-ul-f7"><a href="index.html" class="nav-link">سوالات متداول</a>
                                </li>
                                <li class="nav-item bg-ul-f7"><a href="index.html" class="nav-link">درباره ما</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-11 col-10 d-xl-none d-block">
                <div class="d-flex">
                    <div class="header-form w-100">
                            <input type="search" id="textInput_MOBILE" class="form-control" placeholder="جستجوی کالا">
                            <button class="btn input-btn-search " onclick="search(document.getElementById('textInput_MOBILE').value)"><i class="bi bi-search"></i></button>
                    </div>
                    <div class="text-end ms-lg-4 ms-2">
                        <a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart"
                           class="btn border-0 main-color-green"><i class="bi bi-basket text-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    $(function(){
        var typingTimer;
    var doneTypingInterval = 750; // Time in milliseconds, adjust as needed

    // Event listener for input
    $('.textInput').keyup(function() {
        clearTimeout(typingTimer);
        if ($('.textInput').val()) {
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        }
    });

    // Function to execute when typing stops
    function doneTyping() {

        $('.textInput').focus();
        // Retrieve input value
        var inputValue = $('.textInput').val();

        // AJAX request to send the value to the server
        search(inputValue)
    }

    $('#textInput_MOBILE').keyup(function() {
        clearTimeout(typingTimer);
        if ($('#textInput_MOBILE').val()) {
            typingTimer = setTimeout(doneTyping_MOBILE, doneTypingInterval);
        }
    });

    // Function to execute when typing stops
    function doneTyping_MOBILE() {

        // Retrieve input value
        var inputValue = $('#textInput_MOBILE').val();

        // AJAX request to send the value to the server
        search(inputValue)
    }
    });//END DOM


    function separateDigitsWithComma(number) {
    // Convert the number to a string
    var numberString = String(number);
  
    // Split the string into an array of characters
    var digitsArray = numberString.split('');
  
    // Reverse the array to process digits from right to left
    digitsArray.reverse();
  
    // Iterate over the array and insert commas after every third digit
    for (var i = 3; i < digitsArray.length; i += 4) {
      digitsArray.splice(i, 0, ',');
    }
  
    // Reverse the array again to get the original order
    digitsArray.reverse();
  
    // Join the array into a string
    var result = digitsArray.join('');
  
    return result;
  }
    

    function search(search_text){
      if(search_text == ''){
        Swal.fire({
          icon: "info",
          title: 'لطفا یک مقدار برای جستجو وارد نمایید',
          showConfirmButton: false,
        });
        return;
      }else{
         $.ajax({
            url:'/shop_api/search',
            type:'POST',
            data:{'search_text':search_text},
            success:function(response){
                if(response.success === false){
                    Swal.fire({
                        icon: "error",
                        title: response.context[0],
                        showConfirmButton: false,
                    });
                }else{
                    if (!response.context[0]){
                        
                    }else{
                        $('.zone').html(`
                    <div class="content">
        <div class="content-box">
            <div class="container-fluid">
                <div class="panel-header mb-5">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="d-flex py-2 align-items-center flex-wrap justify-content-sm-between">
                        <h5>جستجو برای <span>"${search_text}"</span></h5>
                        <h5 class="main-color-one-color">${response.context.length} نتیجه پیدا شد</h5>
                    </div>
                    <div class="row g-4 searcch-result"><a href="${window.location.href}"><button class="btn btn-danger"><i class="bi bi-arrow-left">بستن جستجو</i></button></a>
                    
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
                    `);
                    for(let i = 0; i <= response.context.length; i++){
                        if(response.context[i].offer < 1){
                            $('.searcch-result').append(`
                            <div class="col-lg-4 col-sm-6">
                        <div class="product-box pro-shadow">
                            <a href="">
                                <div class="product-box-image">
                                    <img src="https://kikpick.com/${response.context[i].image}" alt="${response.context[i].title}">
                                </div>
                                <div class="product-box-title">
                                    <h5 class="text-overflow-2">
                                        ${response.context[i].title}
                                    </h5>
                                </div>
                                <div class="product-box-price">
                                    <div class="product-box-price-price">
                                        <h5 class="title-font main-color-green-color h2 mb-0">${separateDigitsWithComma(response.context[i].price)}</h5>
                                        <p class="mb-0 text-muted">تومان</p>
                                    </div>
                                </div>
                                <div class="product-box-hover">
                                    <nav class="navbar navbar-expand justify-content-center">
                                        <ul class="navbar-nav align-items-center">
                                            <li class="nav-item"><a href="/shop/${response.context[i].title}"
                                                                    class="nav-item product-box-hover-item me-3">مشاهده
                                                محصول</a></li>
                                            <li class="nav-item"><a href=""
                                                                    class="nav-item product-box-hover-item product-box-hover-item-btn me-1"
                                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    data-bs-title="افزودن به سبد خرید"><i
                                                    class="bi bi-basket"></i></a></li>
                                            <li class="nav-item"><a href=""
                                                                    class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    data-bs-title="افزودن به علاقه ها"><i
                                                    class="bi bi-heart"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </a>
                        </div>
                    </div>
                            `)
                        }else{
                            let percent = Math.round(((response.context[i].price - response.context[i].offer) / response.context[i].price) * 100);
                            $('.searcch-result').append(`
                            <div class="col-lg-4 col-sm-6">
                        <div class="product-box pro-shadow">
                            <a href="">
                                <div class="product-box-image">
                                    <img src="https://kikpick.com/${response.context[i].image}" alt="${response.context[i].title}">
                                </div>
                                <div class="product-box-title">
                                    <h5 class="text-overflow-2">
                                        ${response.context[i].title}
                                    </h5>
                                </div>
                                <div class="product-box-price">
                                    <div class="product-box-price-discount">
                                        <span class="d-block badge main-color-one-bg text-white font-14 rounded-pill">${percent}%</span>
                                        <del>${separateDigitsWithComma(response.context[i].price)}</del>
                                    </div>
                                    <div class="product-box-price-price">
                                        <h5 class="title-font main-color-green-color h2 mb-0">${separateDigitsWithComma(response.context[i].offer)}</h5>
                                        <p class="mb-0 text-muted">تومان</p>
                                    </div>
                                </div>
                                <div class="product-box-hover">
                                    <nav class="navbar navbar-expand justify-content-center">
                                        <ul class="navbar-nav align-items-center">
                                            <li class="nav-item"><a href="/shop/${response.context[i].slug}"
                                                                    class="nav-item product-box-hover-item me-3">مشاهده
                                                محصول</a></li>
                                            <li class="nav-item"><a href=""
                                                                    class="nav-item product-box-hover-item product-box-hover-item-btn me-1"
                                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    data-bs-title="افزودن به سبد خرید"><i
                                                    class="bi bi-basket"></i></a></li>
                                            <li class="nav-item"><a href=""
                                                                    class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    data-bs-title="افزودن به علاقه ها"><i
                                                    class="bi bi-heart"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </a>
                        </div>
                    </div>
                            `);
                        };
                    }//end for
                    };
                }
            },
         });
      }//endif
      
    };// end func
  </script>