{% load static %}
<div class="offers py-20">
    <div class="container-fluid">

        <div class="slider-title mb-3">
            <div class="row">
                <div class="col-sm-8">
                    <div class="slider-title-desc">
                        <div class="slider-title-icon">
                            <div class="slider-title-icon-parent">
                                <div>
                                    <span><i class="bi bi-caret-right-fill"></i></span>
                                    <h6>شگفت انگیز</h6>
                                </div>
                            </div>
                        </div>
                        <div class="slider-title-title">
                            <h2 class="h1">محصولات <span class="main-color-one-color title-font">پیشنهادی امروز</span></h2>
                            <p class="mb-0 mt-2 h5 text-muted">جدیدترین محصولات تخفیف خورده را اینجا میتوانید اینجا
                                ببینید</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="slider-title-link">
                        <a href="/last_offers" class="main-color-one-color font-16"> مشاهده همه <i class="bi bi-caret-left-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 align-items-end">
            <div class="col-lg-3">
                <div class="sugget-moment shadow-box rounded-4">
                    <div class="swiper" id="suggetMoment">
                        <div class="swiper-wrapper position-relative two_random_swipre">
                            <!-- START LOAD 2 Random product -->
                            
                        </div>
                        <div class="swiper-progress-bar">
                            <span class="slide_progress-bar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-0">
                <div class="offer slider-parent">
                    <div class="row">
                        <div class="col-lg-18 mt-1">
                            <div style="--swiper-navigation-color: #b2ffec; --swiper-pagination-color: #b2ffec" class="swiper"
                                 id="offerItem">
                                <div class="swiper-wrapper five_random_product">
                                    
                                </div>
                                <div class="swiper-pagination d-lg-none d-block"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-lg-block d-none">
                            <div class="offer-item-link">
                                <div thumbsSlider="" class="swiper" id="offerItemLink">
                                    <div class="swiper-wrapper five_random_product_title">
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>