{% load static %}
<div class="offers py-20">
    <div class="container-fluid">

        <div class="slider-title mb-3">
            <div class="row">
                <div class="col-sm-8">
                    <div class="slider-title-desc">
                        <div class="slider-title-icon">
                            <div class="slider-title-icon-parent">
                                <div>
                                    <span><i class="bi bi-caret-right-fill"></i></span>
                                    <h6>تخفیفات</h6>
                                </div>
                            </div>
                        </div>
                        <div class="slider-title-title">
                            <h2 class="h1">محصولات <span class="main-color-one-color title-font">پیشنهادی امروز</span></h2>
                            <p class="mb-0 mt-2 h5 text-muted">جدیدترین محصولات تخفیف خورده را اینجا میتوانید اینجا
                                ببینید</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="slider-title-link">
                        <a href="" class="main-color-one-color font-16"> مشاهده همه <i class="bi bi-caret-left-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 align-items-end">
            <div class="col-lg-3">
                <div class="sugget-moment shadow-box rounded-4">
                    <div class="swiper" id="suggetMoment">
                        <div class="swiper-wrapper position-relative">
                            <div class="swiper-slide">
                                <div class="product-box ">
                                    <a href="">
                                        <div class="product-box-sugget">
                                            <h6>پیشنهاد لحظه ای</h6>
                                        </div>
                                        <div class="product-box-image">
                                            <img src="{% static '' %}assets/img/product/wach1.jpg" width="30" alt="">
                                        </div>
                                        <div class="product-box-title">
                                            <h5 class="text-overflow-2">ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح
                                                بند سلیکونی
                                            </h5>
                                        </div>
                                        <div class="product-box-price">
                                            <div class="product-box-price-discount">
                                                <span class="d-block badge main-color-one-bg text-white font-14 rounded-pill">25%</span>
                                                <del>2,500,000</del>
                                            </div>
                                            <div class="product-box-price-price">
                                                <h5 class="title-font main-color-green-color h2 mb-0">799,000</h5>
                                                <p class="mb-0 text-muted">تومان</p>
                                            </div>
                                        </div>
                                        <div class="product-box-hover">
                                            <nav class="navbar navbar-expand justify-content-center">
                                                <ul class="navbar-nav align-items-center">
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item me-3">مشاهده
                                                        محصول</a></li>
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item product-box-hover-item-btn me-1"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            data-bs-title="افزودن به سبد خرید"><i
                                                            class="bi bi-basket"></i></a></li>
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            data-bs-title="افزودن به علاقه ها"><i
                                                            class="bi bi-heart"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <a href="">
                                        <div class="product-box-sugget">
                                            <h6>پیشنهاد لحظه ای</h6>
                                        </div>
                                        <div class="product-box-image">
                                            <img src="{% static '' %}assets/img/product/wach2.jpg" alt="">
                                        </div>
                                        <div class="product-box-title">
                                            <h5 class="text-overflow-2">ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح
                                                بند سلیکونی
                                            </h5>
                                        </div>
                                        <div class="product-box-price">
                                            <div class="product-box-price-discount">
                                                <span class="d-block badge main-color-one-bg text-white font-14 rounded-pill">25%</span>
                                                <del>2,500,000</del>
                                            </div>
                                            <div class="product-box-price-price">
                                                <h5 class="title-font main-color-green-color h2 mb-0">799,000</h5>
                                                <p class="mb-0 text-muted">تومان</p>
                                            </div>
                                        </div>
                                        <div class="product-box-hover">
                                            <nav class="navbar navbar-expand justify-content-center">
                                                <ul class="navbar-nav align-items-center">
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item me-3">مشاهده
                                                        محصول</a></li>
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item product-box-hover-item-btn me-1"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            data-bs-title="افزودن به سبد خرید"><i
                                                            class="bi bi-basket"></i></a></li>
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            data-bs-title="افزودن به علاقه ها"><i
                                                            class="bi bi-heart"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <a href="">
                                        <div class="product-box-sugget">
                                            <h6>پیشنهاد لحظه ای</h6>
                                        </div>
                                        <div class="product-box-image">
                                            <img src="{% static '' %}assets/img/product/wach3.jpg" alt="">
                                        </div>
                                        <div class="product-box-title">
                                            <h5 class="text-overflow-2">ساعت هوشمند شیائومی مدل Redmi Watch 2 Lite طرح
                                                بند سلیکونی
                                            </h5>
                                        </div>
                                        <div class="product-box-price">
                                            <div class="product-box-price-discount">
                                                <span class="d-block badge main-color-one-bg text-white font-14 rounded-pill">25%</span>
                                                <del>2,500,000</del>
                                            </div>
                                            <div class="product-box-price-price">
                                                <h5 class="title-font main-color-green-color h2 mb-0">799,000</h5>
                                                <p class="mb-0 text-muted">تومان</p>
                                            </div>
                                        </div>
                                        <div class="product-box-hover">
                                            <nav class="navbar navbar-expand justify-content-center">
                                                <ul class="navbar-nav align-items-center">
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item me-3">مشاهده
                                                        محصول</a></li>
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item product-box-hover-item-btn me-1"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            data-bs-title="افزودن به سبد خرید"><i
                                                            class="bi bi-basket"></i></a></li>
                                                    <li class="nav-item"><a href=""
                                                                            class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            data-bs-title="افزودن به علاقه ها"><i
                                                            class="bi bi-heart"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-progress-bar">
                            <span class="slide_progress-bar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-0">
                <div class="offer slider-parent">
                    <div class="row">
                        <div class="col-lg-8">
                            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper"
                                 id="offerItem">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="offer-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="offer-discount">
                                                        <span>٪48 تخفیف</span>
                                                    </div>
                                                    <div class="offer-img">
                                                        <img src="{% static '' %}assets/img/product/television3.jpg" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="offer-content">
                                                        <div class="offer-title d-md-inline-block d-none">
                                                            <h4>پیشنهاد <span class="title-font"> شگفت انگیز</span></h4>
                                                        </div>
                                                        <div class="offer-desc">
                                                            <h4>
                                                                ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                            </h4>
                                                            <div class="offer-desc-price">
                                                                <span class="old">2,000,000 تومان</span>
                                                                <span class="new">1,300,000 تومان</span>
                                                            </div>
                                                        </div>
                                                        <div class='countdown' data-date="2028-01-01" data-time="18:30">
                                                        </div>

                                                        <div class="offer-btn">
                                                            <a href="product.html"><i class="bi bi-basket me-1"></i>
                                                                بریم واسه
                                                                خرید!</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="offer-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="offer-discount">
                                                        <span>٪13 تخفیف</span>
                                                    </div>
                                                    <div class="offer-img">
                                                        <img src="{% static '' %}assets/img/product/wach3.jpg" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="offer-content">
                                                        <div class="offer-title d-md-inline-block d-none">
                                                            <h4>پیشنهاد <span class="title-font"> شگفت انگیز</span></h4>
                                                        </div>
                                                        <div class="offer-desc">
                                                            <h4>
                                                                ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                            </h4>
                                                            <div class="offer-desc-price">
                                                                <span class="old">2,000,000 تومان</span>
                                                                <span class="new">1,300,000 تومان</span>
                                                            </div>
                                                        </div>
                                                        <div class='countdown' data-date="2028-01-01" data-time="18:30">
                                                        </div>

                                                        <div class="offer-btn">
                                                            <a href="product.html"><i class="bi bi-basket me-1"></i>
                                                                بریم واسه
                                                                خرید!</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="offer-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="offer-discount">
                                                        <span>٪8 تخفیف</span>
                                                    </div>
                                                    <div class="offer-img">
                                                        <img src="{% static '' %}assets/img/product/product-image5.jpg" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="offer-content">
                                                        <div class="offer-title d-md-inline-block d-none">
                                                            <h4>پیشنهاد <span class="title-font"> شگفت انگیز</span></h4>
                                                        </div>
                                                        <div class="offer-desc">
                                                            <h4>
                                                                ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                            </h4>
                                                            <div class="offer-desc-price">
                                                                <span class="old">2,000,000 تومان</span>
                                                                <span class="new">1,300,000 تومان</span>
                                                            </div>
                                                        </div>
                                                        <div class='countdown' data-date="2028-01-01" data-time="18:30">
                                                        </div>

                                                        <div class="offer-btn">
                                                            <a href="product.html"><i class="bi bi-basket me-1"></i>
                                                                بریم واسه
                                                                خرید!</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="offer-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="offer-discount">
                                                        <span>٪32 تخفیف</span>
                                                    </div>
                                                    <div class="offer-img">
                                                        <img src="{% static '' %}assets/img/product/laptop1.jpg" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="offer-content">
                                                        <div class="offer-title d-md-inline-block d-none">
                                                            <h4>پیشنهاد <span class="title-font"> شگفت انگیز</span></h4>
                                                        </div>
                                                        <div class="offer-desc">
                                                            <h4>
                                                                ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                            </h4>
                                                            <div class="offer-desc-price">
                                                                <span class="old">2,000,000 تومان</span>
                                                                <span class="new">1,300,000 تومان</span>
                                                            </div>
                                                        </div>
                                                        <div class='countdown' data-date="2028-01-01" data-time="18:30">
                                                        </div>

                                                        <div class="offer-btn">
                                                            <a href="product.html"><i class="bi bi-basket me-1"></i>
                                                                بریم واسه
                                                                خرید!</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="offer-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="offer-discount">
                                                        <span>٪50 تخفیف</span>
                                                    </div>
                                                    <div class="offer-img">
                                                        <img src="{% static '' %}assets/img/product/laptop4.jpg" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="offer-content">
                                                        <div class="offer-title d-md-inline-block d-none">
                                                            <h4>پیشنهاد <span class="title-font"> شگفت انگیز</span></h4>
                                                        </div>
                                                        <div class="offer-desc">
                                                            <h4>
                                                                ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                            </h4>
                                                            <div class="offer-desc-price">
                                                                <span class="old">2,000,000 تومان</span>
                                                                <span class="new">1,300,000 تومان</span>
                                                            </div>
                                                        </div>
                                                        <div class='countdown' data-date="2028-01-01" data-time="18:30">
                                                        </div>

                                                        <div class="offer-btn">
                                                            <a href="product.html"><i class="bi bi-basket me-1"></i>
                                                                بریم واسه
                                                                خرید!</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="offer-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="offer-discount">
                                                        <span>٪48 تخفیف</span>
                                                    </div>
                                                    <div class="offer-img">
                                                        <img src="{% static '' %}assets/img/product/television2.jpg" alt=""
                                                             class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="offer-content">
                                                        <div class="offer-title d-md-inline-block d-none">
                                                            <h4>پیشنهاد <span class="title-font"> شگفت انگیز</span></h4>
                                                        </div>
                                                        <div class="offer-desc">
                                                            <h4>
                                                                ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                            </h4>
                                                            <div class="offer-desc-price">
                                                                <span class="old">2,000,000 تومان</span>
                                                                <span class="new">1,300,000 تومان</span>
                                                            </div>
                                                        </div>
                                                        <div class='countdown' data-date="2028-01-01" data-time="18:30">
                                                        </div>
                                                        <div class="offer-btn">
                                                            <a href="product.html"><i class="bi bi-basket me-1"></i>
                                                                بریم واسه
                                                                خرید!</i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination d-lg-none d-block"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-lg-block d-none">
                            <div class="offer-item-link">
                                <div thumbsSlider="" class="swiper" id="offerItemLink">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                                <h6>
                                                    ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                                <h6>گوشی موبایل شیائومی مدل Redmi 12C دو سیم کارت ظرفیت 128 گیگابایت و
                                                    رم 6 گیگابایت - گلوبال</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                                <h6>گوشی موبایل شیائومی مدل Redmi Note 12 4G دو سیم کارت ظرفیت 256
                                                    گیگابایت و رم 8 گیگابایت - گلوبال</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                                <h6>گوشی موبایل سامسونگ مدل Galaxy A14 دو سیم کارت ظرفیت 64 گیگابایت و
                                                    رم 4 گیگابایت - ویتنام</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                                <h6>گوشی موبایل سامسونگ مدل Galaxy A14 دو سیم کارت ظرفیت 128 گیگابایت و
                                                    رم 4 گیگابایت - ویتنام</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="offer-item-link-item shadow-sm">
                                                <h6>ساعت هوشمند هوآوی مدل GT2 Pro 46mm بند سیلیکونی</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>