{% load static %}
<div class="product-boxs site-slider py-20">
    <div class="container-fluid">

        <div class="slider-title">
            <div class="row">
                <div class="col-sm-8">
                    <div class="slider-title-desc">
                        <div class="slider-title-icon">
                            <div class="slider-title-icon-parent">
                                <div>
                                    <span><i class="bi bi-caret-right-fill"></i></span>
                                    <h6>پرفروش ترین ها</h6>
                                </div>
                            </div>
                        </div>
                        <div class="slider-title-title">
                            <h2 class="h1">محصولات <span class="main-color-one-color title-font">پرفروش فروشگاه</span></h2>
                            <p class="mb-0 mt-2 h5 text-muted">محصولات پرفروش با بیش از 95٪ رضایتمندی</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-parent">
            <div class="swiper" id="product-slider">

                <div class="swiper-wrapper specail_pro">
                    
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

            </div>
        </div>

        <div class="text-center">
            <button class="amazing-offer-btn" data-scroll-to="#banners"></button>
        </div>

    </div>
</div>
