{% extends 'layout/base.html' %}
{% load static %}
{% block HEAD %}
    <meta charset="utf-8">
    <title>کیک پیک | سبد خرید</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font/bootstrap-icon/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugin/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugin/countdown/countdown.css' %}">
    <link rel="stylesheet" href="{% static 'assets/js/plugin/rasta-contact/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <meta name="theme-color" content="#99ff00">

{% endblock %}
{% block BODY %}

{% include 'layout/menu.html' %}
<div class="content">
    <div class="container-fluid">

        <div class="payment_navigtions">
            <div class="checkout-headers cart">
                <ul>
                    <li class="nav active">
                            <i class="bi bi-cart"></i>
                            <p>سبد خرید</p>
                    </li>
                    <li class="nav">
                            <i class="bi bi-truck"></i>
                            <p>پرداخت نهایی</p>
                    </li>
                    <li class="nav">
                        <i class="bi bi-card-list"></i>
                        <p>نتیجه تراکنش</p>
                    </li>
                    <!--li class="nav">
                        <i class="bi bi-card-list"></i>
                        <p>فاکتور</p>
                    </li-->
                </ul>
            </div>

        </div>

    </div>

    <div class="container-fluid">
        <div class="cart-product">
            <div class="row gy-4">
                <div class="col-lg-9">
                    {%if cart_items %}
                    {% for product in cart_items %}
                    <div class="cart-product-item mt-3">
                        <div class="content-box">
                            <div class="container-fluid">
                                <div class="cart-items">
                                    <div class="item">
                                        <div class="row gy-2">
                                            <div class="col-md-2 w-100-in-400">
                                                <div class="image">
                                                    <img src="https://kikpick.com/{{product.image}}" alt="{{product.title}}"
                                                         class="img-fluid">
                                                </div>
                                            </div>
                                            <div class="col-md-10 w-100-in-400">
                                                <div class="d-flex justify-content-between align-items-md-start align-items-end flex-wrap">
                                                    <div class="d-flex align-items-start flex-column me-2">
                                                        <div class="title d-flex align-items-center flex-wrap">
                                                            <h6 class="font-16">
                                                                {{product.product_title}}
                                                            </h6>
                                                        </div>
                                                        <div class="cart-item-feature d-flex flex-column align-items-start flex-wrap mt-3">
                                                            <div class="item d-flex align-items-center">
                                                                <div class="icon"><i class="bi bi-shop"></i></div>
                                                                <div class="saller-name mx-2">فروشنده:</div>
                                                                <div class="saller-name text-muted">کیک پیک</div>
                                                            </div>
                                                            <div class="item d-flex align-items-center mt-2">
                                                                <div class="icon"><i class="bi bi-shield-check"></i>
                                                                </div>
                                                                <div class="saller-name mx-2">قیمت کالا:</div>
                                                                <div class="saller-name text-muted">{{product.price}}</div>
                                                            </div>
                                                            <div class="item d-flex align-items-center mt-3">
                                                                <div class="counter">
                                                                    <input onchange="updateCart('{{product.product_title}}',this.value)" type="text" name="count" class="counter"
                                                                           value="{{product.quantity}}">
                                                                </div>
                                                                <div onclick="removeItem('{{product.product_title}}')" class="remove danger-label ms-3">
                                                                    <a class="">
                                                                        <i class="bi bi-trash-fill"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="action d-flex flex-wrap flex-column justify-content-sm-end justify-content-center align-items-center">
                                                        <div class="mt-2">
                                                          <div class="product-box-price-price d-flex">
                                                            <h5 class="title-font main-color-green-color h2 mb-2">
                                                                {{ product.calculate_item_price }}</h5>
                                                            <p class="mb-0 text-muted-two ms-1 ">تومان</p>
                                                        </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="cart-empty-title">
                      <h2 class="text-center title-font">
                          سبد خرید شما خالی میباشد
                      </h2>
                      <div class="text-center mt-3">
                          <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">بازگشت به فروشگاه</a>
                      </div>
                  </div>
                    {% endfor %}
                    {% else %}
                    <div class="cart-empty-title">
                        <h2 class="text-center title-font">
                            سبد خرید شما خالی میباشد
                        </h2>
                        <div class="text-center mt-3">
                            <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">بازگشت به فروشگاه</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-3">
                    <div class="cart-canvases position-sticky top-0">
                        <div class="item">
                            <div class="factor">
                                <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
                                    <h5 class="title-font mb-0 h6">قیمت کالا ها</h5>
                                    <p class="mb-0 font-17">{{cart_total}} تومان</p>
                                </div>

                                <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
                                    <h5 class="title-font mb-0 h6">تخفیف کالا ها</h5>
                                    <p class="mb-0 font-18 cart_offer">{{cart_offer}}</p>
                                </div>

                                <div class="d-flex factor-item mb-3 align-items-center justify-content-between">
                                    <h5 class="title-font mb-0 h6">مجموع</h5>
                                    <p class="mb-0 font-18 CART_P_TOTAL">{{update_total}} تومان</p>
                                </div>

                                <div class="action mt-3 d-flex align-items-center justify-content-center">
                                    <a href="/cart/checkout"
                                       class="btn main-color-one-outline py-2 rounded-pill rounded-3 d-block w-100">تکمیل سفارش</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="show-discount-modal pointer py-3 mb-3" data-bs-toggle="modal" data-bs-target="#discountModal">
            <i class="bi bi-patch-exclamation main-color-one-color me-2" style="font-size: 45px;"></i>
            کوپن تخفیف دارید برای نوشتن کد اینجا کلیک
            کنید
        </div>
    </div>
    
</div>

<!-- end content -->

<!-- modal discount -->

<div class="discount-modal">
    <div class="modal fade" id="discountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">کد تخفیف</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="font-16 mb-3">
                        اگر شما کد تخفیف دارید ، برای ثبت آن از طریق زیر اقدام کنید.
                    </h4>
                    <form action="">
                        <div class="form-group">
                            <label for="discount" class="form-label">کد تخفیف:</label>
                            <input type="text" class="form-control" placeholder="برای مثال eyd1402"
                            id="discount">
                        </div>
                        <button class="btn main-color-one-bg border-0">ثبت کد
                            تخفیف</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--end modal discount-->

<div class="float-btn">
    <div class="container-fluid">
        <!-- contact us floating -->
        <div id="btncollapzion" class=" btn_collapzion"></div>
        <div class="" id="contactOverlay"></div>
        <!-- end contact us floating -->
    </div>
</div>


{% include 'layout/footer.html' %}

{% include 'layout/mobile-menu.html' %}

{% block JS %}
</script>
<script src="{% static '' %}assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="{% static '' %}assets/js/vendor/jquery-3.7.1.min.js"></script>
<script src="{% static '' %}assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>
<script src="{% static '' %}assets/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="{% static '' %}assets/js/plugin/countdown/countdown.js"></script>
<script src="{% static '' %}assets/js/plugin/vanilla-tilt/vanilla-tilt.min.js"></script>
<script src="{% static '' %}assets/js/plugin/rasta-contact/script.js"></script>
<script src="{% static '' %}assets/js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="{% static '' %}assets/js/plugins.js"></script>
<script src="{% static '' %}assets/js/main.js"></script>

<script>
    function updateCart(productTitle, value){
  let data = {
    'product_title': productTitle,
    'quantity':value,
  }
  $.ajax({
    url: '/cart/update',
    type: 'POST',
    data: data,
    success: function(response) {
      if (response.success === false) {
        Swal.fire({
          icon: "error",
          title: response.status,
          showConfirmButton: false,
          timer: 3000,
        });
      } else {
        Swal.fire({
          icon: "success",
          title: response.status,
          showConfirmButton: false,
          timer: 2000,
        });
        location.reload(true)
      }
    },
    error: function(xhr, status, error) {
      console.log(status);
      Swal.fire({
        icon: "error",
        title: status,
        showConfirmButton: false,
        timer: 3000,
      });
    }
  });
}
          function removeItem(productTitle){
       let data = {
           'product_title': productTitle,
       };
       // Send request to server
       $.ajax({
         url: '/cart/remove',
         type: 'POST',
         data: data,
         success: function(response) {
           if (response.success === false) {
             Swal.fire({
               icon: "error",
               title: response.status,
               showConfirmButton: false,
               timer: 3000,
             });
           } else {
             Swal.fire({
               icon: "success",
               title: response.status,
               showConfirmButton: false,
               timer: 2000,
             });
             location.reload(true)
           }
         },
         error: function(xhr, status, error) {
           console.log(status);
           Swal.fire({
             icon: "error",
             title: status,
             showConfirmButton: false,
             timer: 3000,
           });
         }
       });
     }

    function separateDigitsWithComma(number) {
    // Convert the number to a string
    var numberString = String(number);
  
    // Split the string into an array of characters
    var digitsArray = numberString.split('');
  
    // Reverse the array to process digits from right to left
    digitsArray.reverse();
  
    // Iterate over the array and insert commas after every third digit
    for (var i = 3; i < digitsArray.length; i += 4) {
      digitsArray.splice(i, 0, ',');
    }
  
    // Reverse the array again to get the original order
    digitsArray.reverse();
  
    // Join the array into a string
    var result = digitsArray.join('');
  
    return result;
  }
  function load_cart_data(){
    $.ajax({
        url:'/cart/load_cart_data',
        type: 'POST',
        data: {'Hello':'world!'},
        success: function(response){
            if(response.success === false){
                console.log(response.status);
            }else{
                if(response.status.length > 0){
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">${response.status.length} مورد</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">${separateDigitsWithComma(response.status[0].total_price)} تومان</h5>
                    `);
                    $('.checkout_button').html(`
                    <a href="/cart" class="btn border-0 main-color-green text-white"><i
                                class="bi bi-arrow-left me-1"></i>تکمیل خرید</a>
                    `);
                    for(let i = 0; i <= response.status.length; i++){
                        $('.cart_body').append(`
                        <li class="nav-item">
                <div class="cart-canvas">
                    <div class="row align-items-center">
                        <div class="col-4 ps-0">
                            <img src="https://kikpick.com/${response.status[i].image}" alt="${response.status[i].title}">
                        </div>
                        <div class="col-8">
                            <a href="">
                                <h3 class="text-overflow-1 title-font font-14">
                                    ${response.status[i].title}
                                </h3>
                                <div class="cart-canvas-price my-3 d-flex align-items-center">
                                    <h6 class="title-font main-color-one-color">${separateDigitsWithComma(response.status[i].price)} تومان</h6>
                                </div>
                            </a>
                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                <div class="cart-canvas-count">
                                    <span>تعداد:</span>
                                    <span class="fw-bold main-color-one-color">${response.status[i].number}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>`);
                    }//endfor
                }else{
                    $('.cart_title').html(`
                    <h5 class="offcanvas-title title-font" id="offcanvasCartLabel">سبد خرید <small class="text-muted font-14 ms-1">خالی است</small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    `);
                    $('.checkout_button').html('')
                    $('.cart_total').html(`
                    <p class="text-muted mb-2">جمع کل</p>
                        <h5 class="title-font">0 تومان</h5>
                    `);
                    $('.cart_body').html(`
                    <div class="cart-empty-title">
          <h2 class="text-center title-font">
              سبد خرید شما خالی میباشد
          </h2>
          <div class="text-center mt-3">
              <a href="/shop" class="btn main-color-one-outline rounded-pill px-4">برای شروع فرصت زیادی نیست</a>
          </div>
      </div>`);
                }//endif
            }//endif
        },//end suncces
    })//endajax
  }//end function

  load_cart_data();
</script>
{% endblock %}
{% endblock %}